@charset "utf-8";

body {
    font-family: var(--main-font-family);
    color: var(--txt-dark-gray);
    overflow-x: hidden;
}

.wrap {
    width: 100%;
}

.main_visual {
    width: 100%;
    height: 1000px;
    background: url(../asset/brand/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.con1 {
    width: 100%;
    height: 1500px;
    text-align: center;
    background-image: url(../asset/brand/con1bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

.con1 ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 300px;
}

.con1 li {
    position: relative;
    font: var(--pre-40-m);
}

.con1 li span {
    font: var(--pre-50-b);
    color: var(--main-color);
}

.con1 .img {
    width: 100%;
    position: absolute;
    left: -5px;
    bottom: 0px;
}

.con1 .img img {
    width: 100vw;
}

.con1 li img {
    width: 148px;
}

.con1 li.one img {
    position: absolute;
    left: 50px;
    bottom: -20px;
}

.con1 li.two img {
    position: absolute;
    left: 75px;
    bottom: -20px;
}

.con1 li.three img {
    position: absolute;
    left: -45px;
    bottom: -20px;
}

.con1 .img .txt {
    background-color: var(--bg-w-color);
    font-family: var(--eng-font-family);
    font-size: 80px;
    color: var(--main-color);
}



.con2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: var(--con-pad);

}

.con2 .inner {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.con2 .inner>p {
    font: var(--pre-40-m);
    text-align: center;
    padding-bottom: var(--con-pad);
}

.con2 .inner>p span {
    font: var(--pre-50-b);
    color: var(--main-color);
    letter-spacing: -2px;
}

.con2 ul {
    display: flex;
    gap: 40px;
    width: 100%;
    height: auto;
}

.con2 ul li {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.con2 ul li .img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con2 ul li:nth-child(1) .img {
    background-image: url(../asset/brand/con2_1.png);
}

.con2 ul li:nth-child(2) .img {
    background-image: url(../asset/brand/con2_2.png);
}

.con2 ul li:nth-child(3) .img {
    background-image: url(../asset/brand/con2_3.png);
}

.con2 ul li:nth-child(4) .img {
    background-image: url(../asset/brand/con2_4.png);
}

.con2 ul li:nth-child(5) .img {
    background-image: url(../asset/brand/con2_5.png);
}

.con2 ul li .img span {
    padding-top: 100px;
    font: var(--pre-25-b);
    color: var(--txt-w-color);
}



.con2 ul li p {
    font-weight: 700;
    font-size: 30px;
    color: var(--main-color);
}

.con3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--con-pad) 0;
}

.con3 h2 {
    font-family: var(--eng-font-family);
    font-size: 80px;
    color: var(--main-color);
    padding-bottom: 50px;
}

.con3>p {
    font: var(--pre-40-m);
    text-align: center;
    padding-bottom: var(--con-pad);
}

.con3 p span {
    font: var(--pre-50-b);
    color: var(--main-color);
    letter-spacing: -2px;
}

.con3 ul {
    display: flex;
    gap: 60px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.con3 ul li {
    display: flex;
    gap: 65px;
}

.con3 ul li.icon {
    align-items: center;
}

.con3 ul li img.fir {
    width: 392px;
}

.con3 ul li img.tw {
    width: 56px;
    height: 56px;
}

.con3 ul li img.thr {
    width: 238px;
}

.con3 ul li.tw {
    padding-left: 60px;
    display: flex;
    gap: 310px;
}

.con3 ul li.tw .under {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.con3 ul li.tw .under img {
    width: 20px;
}

.con3 ul li.tw .under p {
    text-align: center;
    font: var(--pre-25-m);
}

.con4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: var(--con-pad);
    padding-bottom: var(--sec-pad);
    align-items: center;
}

.con4 h2 {
    font-family: var(--eng-font-family);
    font-size: 80px;
    color: var(--main-color);
    padding-bottom: 50px;
}

.con4>p {
    font: var(--pre-40-m);
    text-align: center;
    padding-bottom: var(--con-pad);
}

.con4>p span {
    font: var(--pre-50-b);
    color: var(--main-color);
    letter-spacing: -2px;
}

.con4>ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.con4>ul li ul {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.con4>ul li ul li.icon_1 img {
    width: 293px;
    padding-bottom: 20px;
}

.con4>ul li ul li.icon_1 p {
    color: var(--main-color);
}

.con4>ul li ul li.icon_2 img {
    width: 302px;
}

.con4>ul li ul li.icon_2 p {
    color: #E24924;
}

.con4>ul li ul li.icon_3 img {
    width: 286px;
    padding-bottom: 5px;
}

.con4>ul li ul li.icon_3 p {
    color: #63BDA9;
}

.con4>ul li ul li.icon_4 img {
    width: 291px;
    padding-bottom: 24px;
}

.con4>ul li ul li.icon_4 p {
    color: var(--sub-color-2);
}

.con4>ul li ul li.icon_5 img {
    width: 339px;
    padding-bottom: 7px;
}

.con4>ul li ul li.icon_5 p {
    color: var(--main-color);
}

.con4>ul li ul li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.con4>ul li ul li p {
    font-family: var(--title-font-family);
    font-size: 40px;
}

.con4>ul li ul li span {
    font: var(--pre-20-m);
    line-height: 1.3;
}



.con5 {
    width: 100%;
    height: 1400px;
    text-align: center;
    background-image: url(../asset/brand/con5_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
}

.con5 h2 {
    font-family: var(--eng-font-family);
    font-size: 80px;
    color: var(--main-color);
    padding: var(--sec-pad) 0 var(--bt-pad) 0;
}

.con5 ul {
    height: auto;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.con5 li {
    height: auto;
    position: relative;
    font: var(--pre-40-m);
    display: flex;
    align-items: center;
    text-align: center;
}

.con5 li:nth-child(1) img {
    width: 176px;
}

.con5 li:nth-child(2) img {
    width: 211px;
}

.con5 li:nth-child(3) img {
    width: 175px;
}

.con5 li:nth-child(4) img {
    width: 149px;
}

.con5 li:nth-child(5) img {
    width: 173px;
}

.con5 li:nth-child(6) img {
    width: 211px;
}

.con5 li span {
    font: var(--pre-50-b);
    color: var(--main-color);
    letter-spacing: -2px;
}

.con5 .img {
    width: 100vw;
    position: absolute;
    /* left: -5px; */
    bottom: -1px;
}

.con5 .img img {
    width: 100vw;
}

.con5 .img .txt {
    background-color: var(--bg-w-color);
    font-family: var(--eng-font-family);
    font-size: 80px;
    color: var(--main-color);
}

.con6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con6 h2 {
    font: var(--pre-30-b);
    padding-bottom: 60px;
}

.con6 img {
    width: 750px;
    padding-bottom: 20px;
}

.con6 ul {
    display: flex;
    gap: 175px;
    padding-bottom: var(--con-pad);
}

.con6 ul li {
    font: var(--pre-25-r);
}


.con7 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.con7 h2 {
    font-family: var(--eng-font-family);
    font-size: 80px;
    color: var(--main-color);
    padding-bottom: 30px;
}

/* 노란 선 */
.con7 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.con7 .bg path {
    width: 100%;
    stroke-dasharray: 70000;
    stroke-dashoffset: 70000;
    transition: stroke-dashoffset 2s ease-out;
}

.bg svg {
    width: 100%;
    height: 100%;
}

.con7 .content {
    position: relative;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

/* 애니메이션 트리거되면 상태 */
.con7.animate .content {
    opacity: 1;
    transform: translateY(0);
}

.con7 p {
    font: var(--pre-25-m);
    padding-bottom: 50px;
}

.con7 form {
    max-width: 700px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.con7 form .email-box {
    padding: 15px 20px;
    font: var(--pre-20-m);
    width: 420px;
    height: 40px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.con7 form .email-box::placeholder {
    color: var(--main-color);
    opacity: 1;
    /* 파이어폭스 대응 */
}

.con7 form .submit-button {
    font-family: var(--main-font-family);
    background-color: var(--main-color);
    color: white;
    border: none;
    width: 200px;
    padding: 15px 30px;
    font: var(--pre-20-m);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

p br {
    display: none;
}

@media screen and (max-width: 1024px) {
    .main_visual {
        width: 100%;
        margin-top: 100px;
        height: 550px;
        background: url(../asset/brand/banner_t.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .con1 {
        width: 100%;
        height: 700px;
        text-align: center;
        background-image: url(../asset/brand/con1bg_t.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .con1 li {
        position: relative;
        font: var(--pre-25-m);
    }

    .con1 li span {
        font: var(--pre-25-b);
        color: var(--main-color);
    }

    .con1 ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 100px;
    }

    .con1 li img {
        width: 100px;
    }

    .con1 li.one img {
        position: absolute;
        left: 30px;
        bottom: -20px;
    }

    .con1 li.two img {
        position: absolute;
        left: 45px;
        bottom: -20px;
    }

    .con1 li.three img {
        position: absolute;
        left: -35px;
        bottom: -20px;
    }

    .con1 .img {
        width: 100vw;
        position: absolute;
        left: 0;
        bottom: 10px;
    }

    .con1 .img img {
        width: 100vw;
    }

    .con1 .img .txt {
        background-color: var(--bg-w-color);
        font-family: var(--eng-font-family);
        font-size: 40px;
        color: var(--main-color);
        padding-top: 100px;
        width: 100vw;
    }

    .con2 {
        padding-bottom: 50px;
    }

    .con2 .inner>p {
        font-size: 25px;
        text-align: center;
        padding-bottom: 50px;
    }

    .con2 .inner>p span {
        font: var(--pre-30-b);
        color: var(--main-color);
        letter-spacing: -2px;
    }

    .con2 .inner {
        padding-top: 0px;
    }

    .con2 ul {
        gap: 20px;

    }

    .con2 ul li .img {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
    }

    .con2 ul li p {
        font-size: 22px;
        font-weight: 700;
        color: var(--txt-gray);
    }

    .con2 ul li .img span {
        padding-top: 50px;
        font: var(--pre-18-sb);
        color: var(--txt-w-color);
    }

    .con3 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .con3 h2 {
        font-family: var(--eng-font-family);
        font-size: 40px;
        color: var(--main-color);
        padding-bottom: 15px;
    }

    .con3>p {
        font-size: 25px;
        text-align: center;
        padding-bottom: 50px;
    }

    .con3>p span {
        font: var(--pre-30-b);
        color: var(--main-color);
        letter-spacing: -2px;
    }

    .con3 ul li {
        display: flex;
        gap: 80px;
    }

    .con3 ul li img.fir {
        width: 220px;
    }

    .con3 ul li img.tw {
        width: 35px;
        height: 35px;
    }

    .con3 ul li img.thr {
        width: 150px;
        padding-left: 15px;
    }

    .con3 ul li.tw {
        padding-left: 0px;
        display: flex;
        gap: 180px;
        padding: 0 180px;
    }

    .con3 ul li.tw .under {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .con3 ul li.tw .under img {
        width: 20px;
    }

    .con3 ul li.tw .under p {
        text-align: center;
        font: var(--pre-25-m);
    }

    .con4 h2 {
        font-family: var(--eng-font-family);
        font-size: 50px;
        color: var(--main-color);
        padding-bottom: 15px;
    }

    .con4>p {
        font-size: 25px;
        text-align: center;
        padding-bottom: 50px;
    }

    .con4>p span {
        font: var(--pre-30-b);
        color: var(--main-color);
        letter-spacing: -0px;
    }




    .con4>ul {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .con4>ul li ul {
        display: flex;
        gap: 35px;
        justify-content: center;
    }

    .con4>ul li ul li.icon_1 img {
        width: 215px;
        padding-bottom: 0px;
    }

    .con4>ul li ul li.icon_1 p {
        color: var(--main-color);
        padding-top: 20px;
    }

    .con4>ul li ul li.icon_2 img {
        width: 215px;
        padding-bottom: 0;
        margin-bottom: 13px;
    }

    .con4>ul li ul li.icon_2 p {
        color: #E24924;
    }

    .con4>ul li ul li.icon_3 img {
        width: 220px;
        padding-bottom: 2px;
    }

    .con4>ul li ul li.icon_3 p {
        color: #63BDA9;
    }

    .con4>ul li ul li.icon_4 img {
        width: 200px;
        padding-bottom: 8px;
    }

    .con4>ul li ul li.icon_4 p {
        color: var(--sub-color-2);
    }

    .con4>ul li ul li.icon_5 img {
        width: 230px;
        padding-bottom: 0;
    }

    .con4>ul li ul li.icon_5 p {
        color: var(--main-color);
    }

    .con4>ul li ul li {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .con4>ul li ul li p {
        font-family: var(--title-font-family);
        font-size: 25px;
    }

    .con4>ul li ul li span {
        font: var(--pre-20-m);
        line-height: 1.3;
    }

    .con4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 150px;
        align-items: center;
        justify-content: center;
    }

    .con5 {
        width: 100%;
        height: 600px;
        text-align: center;
        background-image: url(../asset/brand/con5_bg_t.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .con5 h2 {
        font-family: var(--eng-font-family);
        font-size: 40px;
        color: var(--main-color);
        padding: 100px 0 50px 0;
    }



    .con5 ul {
        height: auto;
        display: flex;
        gap: 25px;
        justify-content: center;
    }

    .con5 li {
        height: auto;
        position: relative;
        /*         font: var(--pre-40-m); */
        display: flex;
        align-items: center;
        text-align: center;
    }

    .con5 li:nth-child(1) img {
        width: 80px;
    }

    .con5 li:nth-child(2) img {
        width: 140px;
    }

    .con5 li:nth-child(3) img {
        width: 75px;
    }

    .con5 li:nth-child(4) img {
        width: 68px;
    }

    .con5 li:nth-child(5) img {
        width: 70px;
    }

    .con5 li:nth-child(6) img {
        width: 130px;
    }

    .con6 img {
        width: 500px;
        padding-bottom: 20px;
    }

    .con6 ul {
        display: flex;
        gap: 90px;
        padding-bottom: 80px;
    }

    .con6 ul li {
        font-size: 22px;
    }

    .con6 h2 {
        font: var(--pre-25-b);
        padding-bottom: 60px;
    }

    .con7 {
        height: 80vh;
    }

    .con7 h2 {
        font-family: var(--eng-font-family);
        font-size: 40px;
        color: var(--main-color);
        padding-bottom: 5px;
    }

    .con7 p {
        font: var(--pre-20-m);
        padding-bottom: 50px;
    }

    .con7 form .email-box {
        font-size: 18px;
        width: 250px;
        height: 30px;
    }

    .con7 form .submit-button {

        width: 150px;
        padding: 15px 30px;
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    p br {
        display: block;
    }

    .main_visual {
        width: 100%;
        margin-top: 100px;
        height: 350px;
        background: url(../asset/brand/banner_m.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .con1 {
        width: 100%;
        height: 450px;
        text-align: center;
        background-image: url(../asset/brand/con1bg_t.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .con1 .img {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .con1 .img img {
        width: 100vw;
    }

    .con1 li {
        position: relative;
        font-size: 18px;
    }

    .con1 li span {
        font-size: 18px;
        color: var(--main-color);
    }

    .con1 ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 50px;
    }

    .con1 li img {
        width: 60px;
    }

    .con1 li.one img {
        position: absolute;
        left: 30px;
        bottom: -10px;
    }

    .con1 li.two img {
        position: absolute;
        left: 30px;
        bottom: -10px;
    }

    .con1 li.three img {
        position: absolute;
        left: -15px;
        bottom: -10px;
    }

    .con1 .img .txt {
        background-color: var(--bg-w-color);
        font-family: var(--eng-font-family);
        font-size: 30px;
        color: var(--main-color);
        padding-top: 100px;
    }

    .con2 {
        padding-bottom: 50px;
    }

    .con2 .inner>p {
        font-size: 18px;
        text-align: center;
        padding-bottom: 30px;
    }

    .con2 .inner>p span {
        font: var(--pre-20-b);
        color: var(--main-color);
        letter-spacing: -2px;
    }

    .con2 .inner {
        padding-top: 20px;
    }

    /* 모바일에서 con2 ul 2줄 배치 */
    .con2 ul {
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 15px !important;
        width: 100% !important;
        height: auto !important;
        justify-content: center !important;
    }

    .con2 ul li {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
        width: calc(50% - 7.5px) !important;
        height: 200px !important;
        justify-content: center !important;
        align-items: center !important;
        flex: none !important;
    }

    .con2 ul li:nth-child(3),
    .con2 ul li:nth-child(4) {
        width: calc(50% - 7.5px) !important;
    }

    .con2 ul li:nth-child(5) {
        width: calc(50% - 7.5px) !important;
        margin: 0 auto !important;
    }

    .con2 ul li .img {
        background-size: contain !important;
        background-repeat: no-repeat !important;
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        background-position: center;
    }

    .con2 ul li p {
        font-size: 20px !important;
        font-weight: 700 !important;
        color: var(--txt-gray) !important;
        text-align: center !important;
    }

    .con2 ul li .img span {
        padding-top: 25% !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        color: var(--txt-w-color) !important;
    }

    .con2 ul li:nth-child(5) .img span {
        padding-top: 18% !important;
    }

    .con3 {
        padding-top: 100px;
        padding-bottom: 150px;
        overflow: hidden;
    }

    .con3 h2 {
        font-family: var(--eng-font-family);
        font-size: 30px;
        color: var(--main-color);
        padding-bottom: 15px;
    }

    .con3>p {
        font-size: 18px;
        text-align: center;
        padding-bottom: 30px;
    }

    .con3>p span {
        font: var(--pre-20-b);
        color: var(--main-color);
        letter-spacing: -2px;
    }

    .con3 ul li {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .con3 ul li img.fir {
        width: 30%;
    }

    .con3 ul li img.tw {
        width: 30px;
        height: 30px;
    }

    .con3 ul li img.thr {
        width: 20%;
        padding-left: 15px;
    }

    .con3 ul li.tw {
        padding-left: 0px;
        display: flex;
        gap: 10%;
        padding: 0 20px;
        width: 100%;
    }

    .con3 ul li.tw .under {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .con3 ul li.tw .under img {
        width: 15px;
    }

    .con3 ul li.tw .under p {
        text-align: center;
        font-size: 18px;
        flex: 1;
    }

    .con4 {
        padding-top: 0;
    }

    .con4 h2 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .con4>p {
        font-size: 18px;
        text-align: center;
        padding-bottom: 40px;
    }

    .con4>p span {
        font: var(--pre-20-b);
        color: var(--main-color);
        letter-spacing: -0px;
    }

    .con4>ul {
        padding: 0 20px;
        gap: 20px;
    }

    .con4>ul li ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }

    .con4>ul li ul li {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: end;
    }

    .con4>ul li ul li .txt {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .con4>ul li ul li.icon_1 img {
        width: 175px;
        padding-bottom: 0px;
    }


    .con4>ul li ul li.icon_1 {
        gap: 25px;
    }

    .con4>ul li ul li.icon_2 img {
        width: 180px;
        padding-bottom: 0;
        margin-bottom: 13px;
    }

    .con4>ul li ul li.icon_2 {
        gap: 20px;
    }


    .con4>ul li ul li.icon_3 img {
        width: 165px;
        padding-bottom: 2px;
    }

    .con4>ul li ul li.icon_3 {
        gap: 35px;
    }

    .con4>ul li ul li.icon_4 img {
        width: 165px;
        padding-bottom: 8px;
    }

    .con4>ul li ul li.icon_4 {
        gap: 36px;
    }


    .con4>ul li ul li.icon_5 img {
        width: 190px;
        padding-bottom: 0;
    }

    .con4>ul li ul li p {
        font-family: var(--title-font-family);
        font-size: 20px;
    }

    .con4>ul li ul li span {
        font-size: 16px;
        line-height: 1.3;
    }

    .con5 {
        height: 75vh !important;
    }

    .con5 ul {
        height: auto !important;
        display: flex !important;
        gap: 0px !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
        padding: 0 20px !important;
    }

    .con5 li {
        height: auto !important;
        position: relative !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        width: calc(50% - 15%) !important;
        padding: 5px 0 !important;
        flex: none !important;
    }

    .con6 img {
        width: 80vw;
        padding-bottom: 20px;
    }

    .con6 ul {
        display: flex;
        gap: 50px;
        padding-bottom: 80px;
    }

    .con6 ul li {
        font-size: 18px;
    }

    .con6 h2 {
        font: var(--pre-20-b);
        padding-bottom: 60px;
    }

    .con7 {
        height: 50vh;
    }

    .con7 h2 {
        font-family: var(--eng-font-family);
        font-size: 30px;
        color: var(--main-color);
        padding-bottom: 5px;
    }

    .con7 p {
        font-size: 18px;
        padding-bottom: 50px;
    }

    .con7 form .email-box {
        font-size: 16px;
        width: 30vw;
        height: 30px;
    }

    .con7 form .submit-button {

        width: 15vw;
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 402px) {
    .con1 li {
        font-size: 16px;
    }

    .con1 ul {
        padding-top: 70px;
    }

    .con3 ul {
        gap: 20px;
    }

    .con3 ul li {
        gap: 7%;
    }

    .con3 ul li.tw .under p {
        font-size: 16px;
    }

    .con3 ul li.tw {
        gap: 15%;
    }

    .con5 {
        height: 100vh !important;
    }

    .con6 ul {
        gap: 35px;
    }

    .con7 form {
        gap: 10px;
    }

    .con7 form .email-box {
        font-size: 15px;
        width: 40vw;
        height: 15px;
    }

    .con7 form .submit-button {

        width: 20vw;
        padding: 10px;
        font-size: 15px;
    }
}