@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');
@import url('https://fonts.cdnfonts.com/css/impact');

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font-family: "Pretendard", sans-serif;
    --eng-font-family: 'Impact', sans-serif;
    --title-font-family: 'Cafe24Ohsquare', sans-serif;
    --mp-title-font: 400 80px 'Cafe24Ohsquare', sans-serif;
    --sp-title-font: 400 50px 'Cafe24Ohsquare', sans-serif;
    --pre-15-m: 500 15px "Pretendard", sans-serif;
    --pre-18-r: 400 18px "Pretendard", sans-serif;
    --pre-20-r: 400 20px/30px "Pretendard", sans-serif;
    --pre-20-m: 500 20px "Pretendard", sans-serif;
    --pre-25-sb: 600 25px "Pretendard", sans-serif;
    --pre-25-m: 500 25px "Pretendard", sans-serif;
    --pre-25-b: 700 25px "Pretendard", sans-serif;
    --pre-28-r: 400 28px/43px "Pretendard", sans-serif;
    --pre-30-sb: 600 30px "Pretendard", sans-serif;
    --pre-35-sb: 600 35px "Pretendard", sans-serif;
    --pre-35-l: 300 35px "Pretendard", sans-serif;
    --pre-50-b: 700 50px "Pretendard", sans-serif;
    --pre-80-eb: 800 80px "Pretendard", sans-serif;
    --pre-80-r: 400 80px "Pretendard", sans-serif;
    --main-color: #005731;
    --sub-color-1: #FF6B00;
    --sub-color-2: #F5B642;
    --dark-green: #80A55C;
    --light-green: #A5C08D;
    --bg-w-color: #ffffff;
    --bg-be-color: #F6F1E9;
    --txt-w-color: #ffffff;
    --txt-dark-w-color: #E5E5E5;
    --txt-light-gray: #C2C2C2;
    --txt-medium-gray: #999999;
    --txt-medium-m-gray: #777777;
    --txt-gray: #444444;
    --txt-dark-gray: #1F1F1F;
}

.inner {
    width: 1440px;
    margin-inline: auto;
}

.sec-pad {
    margin-bottom: 300px;
    font: 400 80px 'Cafe24Ohsquare', sans-serif;
    font: 500 20px/1.7 "Times New Roman", Times, serif;
}

.sec-pad:last-child {
    margin-bottom: 0;
}

.con-pad {
    margin-bottom: 200px;
}

.con-pad:last-child {
    margin-bottom: 0;
}

.ht-pad {
    margin-bottom: 180px;
}

.bt-pad {
    margin-bottom: 100px;
}

.tit-pad {
    margin-bottom: 120px;
}

.fc-pad {
    margin-bottom: 200px;
}

/* header */
.header-placeholder {
    height: 172px;
}

header {
    width: 100%;
    font-family: var(--main-font);
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg-w-color);
    box-shadow: 0 4px 10px #00000010;
    z-index: 999;
}

header .top {
    width: 100%;
    height: 36px;
    background: var(--main-color);
}

header .top .inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .top ul {
    display: flex;
}

header .top ul li {
    color: var(--txt-w-color);
    padding-inline: 15px;
    border-right: 0.8px solid var(--txt-w-color);
}

header .top ul li:first-child {
    color: var(--sub-color-2);
}

header .top ul li:last-child {
    border-right: 0;
    padding-right: 0;
}

header .top ul li a {
    font-size: 15px;
    font-weight: 500;
}

header .mid {
    height: 70px;
    border-bottom: 1px solid var(--txt-dark-w-color);
}

header .mid .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .mid h1 {}

header .mid h1 a {
    display: block;
    width: 190px;
    height: 60px;
}

header .mid h1 a img {
    width: 100%;
    height: 100%;
}

header .mid .left {
    display: flex;
    align-items: center;
    gap: 45px;
}

header .mid .left ul {
    display: flex;
}

header .mid .left ul li {}

header .mid .left ul li {
    font-weight: 500;
    font-size: 25px;
    color: var(--txt-gray);
    padding-inline: 15px;
    border-right: 1.5px solid var(--txt-medium-gray);
}

header .mid .left ul li:last-child {
    border-right: 0;
}

header .mid .left ul li.on {
    color: var(--sub-color-1);
    font-weight: 700;
}

header .bot {
    width: 100%;
    height: 65px;
}

header .bot .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .bot nav {}

header .bot nav ul {
    display: flex;
    gap: 111px;
}

header .bot nav ul li {}

header .bot nav ul li a {
    font-weight: 500;
    font-size: 18px;
    color: var(--txt-gray);
}

/* .scroll */
header.scroll .mid {
    display: none;
}

header.scroll .bot .inner {
    display: flex;
    justify-content: space-between;
}

header.scroll .bot ul.s_right {
    display: flex;
    gap: 20px;
}

header .bot ul.s_right li {}

header .bot ul.s_right li a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-content: center;
}

header ul.right-menu {
    display: flex;
    gap: 40px;
}

header ul.right-menu li a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-content: center;
}

.search_container {
    position: relative;
    display: flex;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.search_container img {
    background: none;
    border: none;
    cursor: pointer;
}

.search_input {
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
    transition: width 0.4s ease, opacity 0.4s ease;
    font-size: 15px;
    margin-left: 8px;
    background: transparent;
}

/* 활성화 시 */
.search_container.active {
    border-color: #444444;
    /* 밑줄 나타남 */
}

.search_container.active .search_input {
    width: 200px;
    opacity: 1;
}

/* footer */
footer {
    width: 100%;
    height: 420px;
    background: var(--main-color);
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
}

footer .inner {
    height: 100%;
}

footer .f_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-block: 50px;
}

footer .f_left {
    display: flex;
    flex-direction: column;
}

footer .logo {
    width: 265px;
    margin-bottom: 50px;
}

footer .logo img {
    width: 100%;
}

footer .f_left .f_nav {
    display: flex;
    margin-bottom: 30px;
}

footer .f_left .f_nav li {
    padding-right: 15px;
    border-right: 1px solid var(--txt-medium-gray);
    margin-right: 15px;
}

footer .f_left .f_nav li:last-child {
    padding-right: 0;
    border-right: 0;
    margin-right: 0;
}

footer .f_left .f_nav li a {
    color: var(--txt-w-color);
    font-size: 20px;
}

footer .f_left .info {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

footer .f_left .info li {
    font-size: 23px;
    color: var(--txt-light-gray);
}

footer .f_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .f_right strong {
    font-size: 25px;
    font-weight: 500;
    color: var(--txt-w-color);
}

footer .f_right p {
    font-size: 18px;
    color: var(--txt-light-gray);
}

footer span {
    display: block;
    text-align: right;
    font-size: 18px;
    color: var(--txt-medium-gray);
}