@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
}

h3 {
  font-family: var(--eng-font-family);
  font-size: 45px;
  color: var(--main-color);
  padding-bottom: 60px;
}

.detailpage_bob {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: var(--tit-pad);
}

.detailpage_bob .left {
  width: 100%;
}


/* ↓↓↓↓↓ 오른쪽 고정 옵션바 박스 ↓↓↓↓↓ */
.right {
  position: relative;
}

.sticky_box {
  position: sticky;
  top: 200px;
  width: 400px;
  border: 3px solid var(--main-color);
  border-radius: 15px;
  padding: 35px 22px;
  background: #fff;
  z-index: 100;
}

.character {
  /* display: block;
  margin: -102px auto 10px; */
  width: 120px;
  position: absolute;
  top: -12%;
  left: 34%;
}

.option_wrap,
.qty_wrap,
.price_wrap {
  padding-bottom: 20px;
}

label {
  display: block;
  font: var(--pre-20-b);
  padding-bottom: 15px;
}

select,
input[type="text"] {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font: var(--pre-18-r);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

select:focus {
  border: 1px solid var(--dark-green)
}

/* 갯수 */
.qty_controls {
  display: flex;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.qty_controls button,
.qty_controls input {
  border: none;
  background: white;
  font: var(--pre-25-m);
  text-align: center;
  height: 100%;
}

.qty_controls button {
  width: 60px;
  cursor: pointer;
}

.qty_controls input {
  flex: 1;
  pointer-events: none;
  font: var(--pre-20-m);
  height: 100%;
  line-height: 40px;
  padding: 0;
  vertical-align: middle;
}

.qty_controls button:not(:last-child) {
  border-right: 1px solid var(--dark-green);
}

.qty_controls input+button {
  border-left: 1px solid var(--dark-green);
}

.price_wrap input {
  text-align: center;
  font: var(--pre-20-b);
  color: var(--txt-gray);
  padding: 0;
}

.btn_wrap {
  display: flex;
  gap: 20px;
}

.wishlist {
  background: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.add_cart {
  flex-grow: 1;
  background: var(--main-color);
  color: var(--txt-w-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font: var(--pre-20-m);
  cursor: pointer;
}

/* 장바구니 모달창 */
.cart_modal {
  width: 300px;
  height: 120px;
  position: absolute;
  left: 60%;
  top: 90%;
  transform: translate(-50%, 20px);
  padding: 22px 0;
  text-align: center;
  font: var(--pre-15-m);
  z-index: 10;
  background: url(../asset/detailpage_bob/cart_modal.png) no-repeat;
  color: var(--txt-medium-m-gray);
  display: none;
}

.cart_modal.on {
  display: block;
}

.modal_btns {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal_btns button {
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 3px;
  background: var(--txt-medium-gray);
  color: var(--txt-w-color);
  cursor: pointer;
}

.modal_btns .yes_btn {
  background: var(--light-green);
}

.right .sc_top {
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translateX(-50%);
  font: var(--pre-15-m);
  cursor: pointer;
}

/* ↑↑↑↑↑ 오른쪽 고정 옵션바 박스 끝 ↑↑↑↑↑ */




/* ============================= */
/* ====== 왼쪽 상세페이지 ====== */
/* ============================= */

/* 상단 메뉴 설명 */
.checked {
  width: 100%;
  display: flex;
  gap: 25px;
  padding-bottom: 100px;
}

.checked img {
  width: 450px;
  height: 440px;
}

.checked .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.checked .right .tit {
  display: flex;
  flex-direction: column;
  color: var(--txt-dark-gray);
}

.checked .right .tit img {
  width: 10px;
  height: 16px;
}

.checked .right .tit span {
  font: var(--pre-20-m);
  color: var(--txt-medium-gray);
  line-height: 0.8;
  padding-bottom: 10px;
}

.checked .right .tit h2 {
  font: var(--pre-50-b);
  padding-bottom: 10px;
}

.checked .right .tit .under {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.checked .right .tit .under p {
  font: var(--pre-35-sb);
}

.checked .right .tit .under span {
  font-size: 22px;
  font-weight: 400;
  text-decoration-line: line-through;
  color: var(--txt-medium-gray);
  padding-top: 10px;
}

.checked .right .small_tit {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 45px;
}

.checked .right .small_tit .frame {
  width: 420px;
  height: 40px;
  border: 1px solid var(--sub-color-2);
  border-radius: 5px;
  background-color: var(--more-light-yellow);
  color: var(--sub-color-2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font: var(--pre-15-m);
}

.checked .right .small_tit .frame .next_arrow_yellow {
  width: 7px;
  height: 10px;
}

.checked .right .small_tit>p {
  font: var(--pre-18-r);
  color: var(--txt-medium-gray);
  line-height: 25px;
}


/* 상세페이지 탭 바 */
.tab_bar {
  width: 100%;
}

.tab_bar ul {
  height: 50px;
  display: flex;
  background: var(--txt-dark-w-color);
  font: var(--pre-20-r);
}

.tab_bar ul li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tab_bar ul li::after {
  content: '';
  position: absolute;
  right: 0;
  top: 30%;
  height: 40%;
  width: 1px;
  background-color: var(--txt-medium-gray);
}

.tab_bar ul li:last-child::after,
.tab_bar ul li.on:last-child::after {
  display: none;
}

.tab_bar ul li.on {
  background: var(--main-color);
  border-right: 0;
  color: var(--txt-w-color);
  font: var(--pre-20-b);
}


.recipe {
  width: 100%;
  padding: 100px 0 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe h3 {
  font: var(--pre-28-r);
  padding-bottom: 50px;
}

.recipe b {
  font: var(--pre-28-sb);
  color: var(--sub-color-1);
}



/* 체크포인트 */
.check_all {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: var(--con-pad);
}

.checklist .tit {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(--pre-20-b);
}

.checklist .tit.list1 {
  background: var(--light-yellow);
  color: var(--main-color);
}

.checklist .tit.list2 {
  background: var(--sub-color-1);
  color: var(--txt-w-color);
}

.checklist .tit.list3 {
  background: var(--light-green);
  color: var(--main-color);
}

.checklist .tit.list4 {
  background: var(--main-color);
  color: var(--txt-w-color);
}

.checklist .txt {
  font: var(--pre-15-m);
  color: var(--txt-gray);
  padding-top: 20px;
}



/* 리뷰 */
.review {
  width: 100%;
  padding-bottom: var(--con-pad);
}

.review_all {
  display: flex;
  justify-content: space-between;
}

.review .re_left {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review .re_left .relist1 {
  width: 100%;
  height: 170px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.review .re_left .relist1 .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: var(--pre-15-m);
  color: var(--txt-dark-gray);
}

.review .re_left .relist1 .recommend1 {
  width: 70px;
  height: 30px;
  background: var(--sub-color-1);
  color: var(--txt-w-color);
  font: var(--pre-15-sb);
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
}

.review .re_left .relist1 .reimg1 {
  width: 125px;
  height: 125px;
  background: url(../asset/detailpage_bob/review1.png);
}

.review .re_left .relist2 {
  width: 100%;
  height: 170px;
  background: var(--sub-color-1);
  border-radius: 150px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.review .re_left .relist2 .reimg2 {
  width: 125px;
  height: 125px;
  background: url(../asset/detailpage_bob/review2.png);
}

.review .re_left .relist2 .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font: var(--pre-15-m);
  color: var(--txt-w-color);
}

.review .re_left .relist2 .recommend2 {
  width: 70px;
  height: 30px;
  background: var(--sub-color-2);
  color: var(--txt-w-color);
  font: var(--pre-15-sb);
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
}

.review .re_left .relist3 {
  width: 100%;
  height: 170px;
  background: var(--main-color);
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.review .re_left .relist3 .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font: var(--pre-15-m);
  color: var(--txt-w-color);
}

.review .re_left .relist3 .recommend3 {
  width: 90px;
  height: 30px;
  background: var(--sub-color-1);
  color: var(--txt-w-color);
  font: var(--pre-15-sb);
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
}

.review .re_left .relist3 .reimg3 {
  width: 125px;
  height: 125px;
  background: url(../asset/detailpage_bob/review3.png);
}

.review .re_right {
  width: 490px;
  height: 560px;
  background: url(../asset/detailpage_bob/review_right.png);
  border-radius: 15px;
}



/* 노하우 */
.knowhow {
  width: 100%;
  text-align: center;
  padding-bottom: var(--con-pad);
}

.knowhow h4 {
  font: var(--pre-35-sb);
  color: var(--txt-dark-gray);
  padding: 50px 0 8px 0;
}

.knowhow span {
  font: var(--pre-25-r);
  color: var(--txt-gray);
}

.knowhow p {
  font: var(--pre-18-r);
  color: var(--txt-gray);
  padding-top: 30px;
}


/* 재료구성 */
.material {
  width: 100%;
  text-align: center;
  padding-bottom: var(--con-pad);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material .num {
  width: 35px;
  height: 35px;
  background: var(--main-color);
  font: var(--pre-20-b);
  color: var(--txt-w-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material h4 {
  font: var(--pre-28-sb);
  color: var(--txt-dark-gray);
  padding-top: 30px;
}

.material p {
  font: var(--pre-18-r);
  color: var(--txt-gray);
  margin: 5px 0 30px 0;
}


/* 상품고시정보 */
.info {
  width: 100%;
  text-align: center;
  padding-bottom: var(--con-pad);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .num {
  width: 35px;
  height: 35px;
  background: var(--main-color);
  font: var(--pre-20-b);
  color: var(--txt-w-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info h4 {
  font: var(--pre-28-sb);
  color: var(--txt-dark-gray);
  padding-top: 30px;
}

.info p {
  font: var(--pre-18-r);
  color: var(--txt-gray);
  margin: 5px 0 50px 0;
}

.info_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.info_table {
  width: 465px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_table .row1,
.info_table .row2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.info_table .row1 .label {
  width: 30%;
  height: 35px;
  background: var(--main-color);
  color: var(--txt-w-color);
  font: var(--pre-18-sb);
  border-bottom: 1.5px solid var(--txt-w-color);
  line-height: 35px;
}

.info_table .row1 .content {
  width: 70%;
  height: 35px;
  background: #f3f3f3;
  font: var(--pre-18-r);
  color: var(--txt-gray);
  border-bottom: 1.5px solid var(--main-color);
  line-height: 35px;
}

.info_table .row2 .label {
  width: 30%;
  height: 140px;
  background: var(--main-color);
  color: var(--txt-w-color);
  font: var(--pre-18-sb);
  line-height: 140px;
}

.info_table .row2 .content {
  width: 70%;
  height: 140px;
  background: #f3f3f3;
  font: var(--pre-18-r);
  color: var(--txt-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 상품은 이랫슈 */
.bobissue {
  width: 100%;
  padding-bottom: var(--con-pad);
}

.bobissue h4 {
  font-family: var(--eng-font-family);
  font-size: 40px;
  color: var(--main-color);
}

.bobissue h5 {
  font: var(--pre-40-sb);
  color: var(--txt-gray);
  padding-bottom: 65px;
}

/* 필터 */
.sort_box {
  padding-bottom: 10px;
}

.sort_btn {
  width: 120px;
  height: 35px;
  background: var(--main-color);
  color: var(--txt-w-color);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font: var(--pre-18-sb);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.sort_btn img {
  width: 16px;
  display: flex;
}

.sort_dropdown {
  width: 120px;
  /* padding: 6px 0px 6px 8px; */
  z-index: 10;
}

.sort_dropdown li {
  font: var(--pre-18-sb);
  padding: 8px 0 4px 24px;
  cursor: pointer;
  display: none;
}

.sort_dropdown li:hover {
  font: var(--pre-18-sb);
  color: var(--main-color);
}

/* 카드 그리드 */
.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.review_card {
  width: 320px;
  height: 270px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
}

.review_card img {
  width: 100%;
  height: 120px;
  border-radius: 13px;
  object-fit: cover;
}

.card_content {
  padding: 12px 0;
}

.review_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.review_header strong {
  font: var(--pre-18-sb);
  color: var(--txt-dark-gray);
}

.review_header .stars {
  width: 120px;
  height: 20px;
  background: url(../asset/detailpage_bob/stars.png) no-repeat center;
  color: var(--star-color);
}

.card_content p {
  font: var(--pre-15-m);
  color: var(--txt-gray);
}

.card_content .date {
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  color: var(--txt-medium-m-gray);
}

/* 페이지네이션 */
.pagination {
  padding-top: 50px;
  display: flex;
  justify-self: center;
  gap: 5px;
}

.pagination li {
  width: 34px;
  height: 34px;
  border: 1px solid var(--txt-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: var(--txt-medium-m-gray);
  cursor: pointer;
}

.pagination li.on {
  border-color: var(--sub-color-1);
  color: var(--sub-color-1);
}



/* 상품을 문의햇슈 */
.contact {
  width: 100%;
  padding-bottom: var(--con-pad);
}

.contact h4 {
  font-family: var(--eng-font-family);
  font-size: 40px;
  color: var(--main-color);
}

.contact h5 {
  font: var(--pre-40-sb);
  color: var(--txt-gray);
  padding-bottom: 65px;
}

/* 문의하기 버튼 */
.contact .button {
  display: flex;
  justify-content: end;
}

.contact button {
  width: 120px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--txt-w-color);
  font: var(--pre-20-m);
}

.contact button a {
  display: block;
}

/* 테이블 */
.contact_us {
  padding-top: 15px;
}

.inquiry_table {
  width: 100%;
  border-top: 1px solid var(--main-color);
  border-collapse: collapse;
  text-align: center;
  font: var(--pre-18-r);
}

.inquiry_table th,
.inquiry_table td {
  padding: 22px 0;
  border-bottom: 1px solid var(--txt-light-gray);
}

.inquiry_table thead th {
  color: var(--txt-dark-gray);
  text-align: center;
}

.inquiry_table tbody tr {
  font: var(--pre-15-m);
  color: var(--txt-medium-m-gray);
}

.inquiry_table .title {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

.inquiry_table .status.answered {
  color: var(--sub-color-1);
  font: var(--pre-15-sb);
}


/* 문의하기 팝업창 */
.inquiry_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.inquiry_modal.on {
  display: block;
}

/* 모달 박스 */
.modal_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--txt-w-color);
  border-radius: 15px;
  width: 660px;
  padding: 30px 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.modal_content h2 {
  font: var(--pre-25-sb);
  color: var(--txt-gray);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--txt-light-gray);
}

.product_info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--txt-light-gray);
  padding: 20px 0;
}

.product_info img {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 5px;
}

.product_info span {
  font: var(--pre-15-m);
}

.inquiry_form .inquiry,
.inquiry_form .content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 14px 0;
}

.inquiry_form label {
  width: 40px;
  display: block;
  font: var(--pre-18-r);
}

.inquiry_form input[type="text"],
.inquiry_form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--txt-light-gray);
  border-radius: 5px;
  font: var(--pre-15-m);
  resize: none;
}

.secret_check {
  display: flex;
  align-items: center;
  padding-left: 85px;
  gap: 10px;
  font: var(--pre-15-m);
  white-space: nowrap;
  cursor: pointer;
}

.secret_check input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* .secret_check input[type="checkbox"] {
  vertical-align: middle;
  margin: 0;
  transform: translateY(-6px);
} */


.secret_check input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--txt-medium-gray);
  border-radius: 50%;
  background-color: var(--bg-w-color);
  cursor: pointer;
  position: relative;
  transform: translateY(-7px);
}

.secret_check input[type="checkbox"]:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.secret_check input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background: var(--bg-w-color);
  border-radius: 50%;
}

.secret_check label {
  font: var(--pre-15-m);
  color: var(--txt-gray);
}

.button_group {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.button_group button {
  border: 0;
  font: var(--pre-18-r);
  color: var(--txt-w-color);
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
}

.cancel_btn {
  background: var(--txt-medium-gray);
}

.submit_btn {
  background: var(--main-color);
}