@charset "utf-8";

body {
    overflow-y: hidden;
}

.login_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logIn {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 465px;
    height: fit-content;
    align-items: center;
    /* margin-top: 120px; */
    font-family: var(--main-font-family);
}

.logIn h2 {
    font-size: 45px;
    font-family: var(--title-font-family);
}

.logIn .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

.logIn .input_sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logIn .input_sec li {
    width: 100%;
}

.logIn .input_sec li input {
    width: 100%;
    height: 60px;
    border-radius: 12px;
    font-size: 18px;
    padding-left: 23px;
    box-sizing: border-box;
}

.logIn .find {
    display: flex;
}

.logIn .find li {
    padding-inline: 10px;
    border-right: 1px solid #000;
}

.logIn .find li:last-child {
    border-right: 0;
    padding-right: 0;
}

.logIn .find li a {
    font-size: 15px;
}

.logIn .bot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.logIn .bot li {
    width: 100%;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: var(--txt-w-color);
    background: var(--sub-color-1);
}

.logIn .bot li:first-child {
    background: var(--main-color);
}

.logIn .bot li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}