@charset "utf-8";

body {
    font-family: var(--main-font);
    overflow-x: hidden;
}

/* main visual */
.main_visual {
    width: 100%;
    height: 800px;
    display: flex;
    /* margin-bottom: 300px; */
}

.main_visual .l_slide_wrap {
    flex: 1;
    height: 100%;
    background: #aaa;
    flex-shrink: 0;
}

.main_visual .l_slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.main_visual .l_slide li {
    width: 100%;
    height: 100%;
    position: absolute;
}

.main_visual .l_slide img {
    width: 100%;
    height: 100%;
}

.main_visual .r_text {
    flex: 1;
    /* background: #FFF1DA; */
    height: 100%;
}

.main_visual .r_text .txtAniBox {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.txtAniBox .simply-scroll .simply-scroll-clip {
    /* display: flex; */
    overflow: hidden;
}

.txtAniBox .simply-scroll .simply-scroll-clip .simply-scroll-list {
    /* display: flex; */
    height: 100%;
}

.txtAniBox ul {
    /* display: flex; */
    height: auto;
    white-space: nowrap;
    /* transform-origin: left top; */
    /* flex-direction: column; */

}

.txtAniBox ul li {
    margin-bottom: 15px;
}

.con_wrap {
    position: relative;
}

.con_bg {
    position: absolute;
    z-index: 1;
    top: 0;
}

.con_bg img {
    width: 100%;
}

/* char1 */
.char1_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 240px;
    top: 750px;
    z-index: 3;
}

.char1_wrap img.char1 {
    width: 450px;
}

.vector1 {
    padding-top: 1000px;
    position: relative;
    z-index: 2;
    background-color: #C6E992;
}

/* section common */
section {
    padding-bottom: 300px;
}

section .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 135px;
}

section .txt h2 {
    font: var(--mp-title-font);
    font-size: 80px;
    font-weight: 800;
    color: var(--main-color);
    line-height: 98px;
}

section .txt h2 strong {
    /* font-family: var(--eng-font); */
}

section .txt h2 span {
    /* font-weight: 400;
    color: var(--txt-w-color); */
}

section .txt p {
    font: var(--pre-35-l);
    color: var(--txt-gray);
    /* line-height: 42px; */
}

section button.more {
    width: 330px;
    height: 60px;
    border: 0;
    border-radius: 15px;
    background-color: var(--sub-color-1);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

/* con1 */
.con1 {
    background: #C6E992;
}

.con1 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con1 article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con1 article b {
    font-size: 28px;
    line-height: 43px;
    color: var(--txt-w-color);
    text-align: center;
    margin-bottom: 55px;
}

.con1 article ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.con1 article ul li {
    width: 430px;
    height: 542px;
    border-radius: 15px;
    background-color: var(--txt-w-color);
    box-shadow: 0 0 0 5px var(--sub-color-1) inset;
}

section article .more_wrap {
    position: relative;
}

section article .more_wrap img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
    pointer-events: none;
}

.con1 article ul li h3 {}

/* con2 */
.con2 {
    /* background: #818181; */
    color: var(--main-color);
    position: relative;
}

.con2 .vector3 {
    position: absolute;
    transform: translateY(-100%);
}

.con2 .txt {
    padding-top: 140px;
}

.con2 .txt h2 {
    margin-bottom: 50px;
}

.con2 .txt h2,
.con2 .txt p {
    /* color: #fff; */
}

.con2 article {
    width: 100%;
    height: 800px;
    position: relative;
}

.con2 article .img_container {
    position: absolute;
    left: -50px;
    top: 0;
    width: 800px;
    height: 800px;
    z-index: 10;
}

.con2 article .img_container.move {
    left: 1200px;
}

.con2 article .img_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.con2 article .img_wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #ccc;
}

.con2 article .img_container .sw_btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background: #000; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    transition: transform 0.5s ease;
}

.con2 article .img_container .sw_btn:hover {
    transform: translate(50%, -50%) rotate(360deg) scale(1.4);
}

.con2 article .img_container .sw_btn img {
    width: 100%;
    height: 100%;
}

.con2 article .img_container.move .sw_btn {
    right: 800px;
}

.con2 article .con_container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
}

.con2 article .con_container.move {
    right: 850px;
}

.con2 article .con_wrap {
    flex-direction: column;
    justify-content: center;
    padding-right: 200px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.con2 article .con_wrap h3 {
    font-size: 80px;
    font-family: var(--eng-font-family);
    margin-bottom: 40px;
}

.con2 article .con_wrap strong {
    margin-bottom: 20px;
    font: var(--pre-35-sb);
    color: var(--txt-dark-gray);
}

.con2 article .con_wrap b {
    font: var(--pre-20-r);
    margin-bottom: 50px;
    color: var(--txt-medium-gray);
}

.con2 article .con_wrap ul {
    display: flex;
    justify-content: space-between;
}

.con2 article .con_wrap ul li {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: none;
    overflow: hidden;
}

.con2 article .con_wrap ul li:hover img {
    opacity: 0;
}

.con2 article .box1 ul li:nth-child(1):hover {
    background: url(../asset/boxhover1.png) center/contain;
}

.con2 article .box1 ul li:nth-child(2):hover {
    background: url(../asset/boxhover2.png) center/contain;
}

.con2 article .box1 ul li:nth-child(3):hover {
    background: url(../asset/boxhover3.png) center/contain;
}

.con2 article .box2 ul li:nth-child(1):hover {
    background: url(../asset/couponhover1.png) center/contain;
}
.con2 article .box2 ul li:nth-child(2):hover {
    background: url(../asset/couponhover2.png) center/contain;
}
.con2 article .box2 ul li:nth-child(3):hover {
    background: url(../asset/couponhover3.png) center/contain;
}

.con2 article .con_wrap ul li img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.con2 article .img_container,
.con2 article .con_container {
    transition: top 0.8s ease, left 0.8s ease, right 0.8s ease;
    /* 위치 변화에 transition 적용 */
}

.img_container .img1,
.con_container .box1 {
    opacity: 1;
    transition: opacity 0.5s ease;
    display: flex;
}

.img_container .img2,
.con_container .box2 {
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 0;
    left: 0;
    display: none;
}

/* move 클래스가 있을 때: 반대로 전환 */
.img_container.move .img1,
.con_container.move .box1 {
    opacity: 0;
    display: none;
}

.img_container.move .img2,
.con_container.move .box2 {
    opacity: 1;
    display: flex;
}

.con2 article .con_wrap .lr_btn .left_btn {}

.con2 article .con_wrap .lr_btn .right_btn {}

.con2 article .con_wrap .button {}

/* char2 */
.line_2_wrap {
    position: relative;
    width: 100%;
    height: 1100px;
    margin-top: 200px;
}

.char2_wrap {
    position: absolute;
    left: -300px;
    top: -100px;
}

.char2_wrap img.char2 {
    width: 405px;
}

.vector2 {
    position: absolute;
    z-index: -1;
}

.vector2 img {}

/* con3 */
.con3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

.con3 .txt p {
    color: #ccc;
}

.con3 article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con3 article .video {
    width: 1000px;
    height: 465px;
    border-radius: 20px;
    background: #707070;
    margin-bottom: 200px;
    position: relative;
}

.con3 .lr_btn {
    position: absolute;
    display: flex;
    gap: 30px;
    align-items: center;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.con3 .lr_btn div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #565656;
}

.con3 article ul {
    display: flex;
    gap: 55px;
}

.con3 article ul li {
    width: 490px;
    height: 310px;
    background: #eaeaea;
    border-radius: 30px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.con3 article ul li .star {
    width: 170px;
    height: 40px;
    background: #ccc;
}

.con3 article ul li .img_wrap {
    width: 230px;
    position: absolute;
    right: 40px;
    top: -90px;
}

.con3 article ul li .img_wrap img {
    width: 100%;
}

.con3 article ul li .info {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.con3 article ul li .info p {
    font-size: 30px;
    font-weight: 500;
    color: #6b6b6b;
}

.con3 article ul li .info h3 {
    font-size: 45px;
    font-weight: 600;
    color: #333;
}

.con3 article ul li .info b {
    font-size: 23px;
    font-weight: 500;
    line-height: 40px;
    color: #828282;
}

.con3 article ul li button.buy {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background-color: #333;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 0;
    transform: translateY(50%);
}

/* con4 */
.con4 {}

.con4 .txt p {
    color: #ccc;
}

.con4 ul {
    display: flex;
    column-gap: 50px;
    row-gap: 70px;
    flex-wrap: wrap;
}

.con4 ul li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 385px;
    height: 655px;
    background: #555;
    border-radius: 20px;
    padding-inline: 25px;
    flex-shrink: 0;
}

.con4 ul li:nth-child(2),
.con4 ul li:nth-child(5) {
    margin-top: 200px;
}

.con4 ul li .img {
    width: 100%;
    height: 385px;
    background: #ccc;
    border-radius: 10px;
    align-self: center;
    margin-top: 25px;
}

.con4 ul li .info {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.con4 ul li .info img {
    width: 45px;
}

.con4 ul li .info p {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.con4 ul li .info .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con4 ul li .info b {
    border: 0;
    width: 220px;
    height: 45px;
    border-radius: 0 50px 0 20px;
    background: #ccc;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
    margin-left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con4 ul li .info span {
    font-size: 23px;
    font-weight: 600;
}