@charset "utf-8";

body {
    font-family: var(--main-font-family);
    overflow-x: hidden;
    width: 100vw;
}

body.no-scroll {
    overflow: hidden;
}

button {
    font-family: var(--main-font-family);
}

.goto_top {
    position: fixed;
    width: 100px;
    right: 50px;
    bottom: 50px;
    z-index: 200;
    cursor: pointer;
}

.goto_top img {
    width: 100%;
}

/* main visual */
.main_visual {
    width: 100%;
    height: 835px;
    display: flex;
    /* margin-bottom: 300px; */
}

.main_visual .l_slide_wrap {
    flex: 1;
    height: 100%;
    background: #aaa;
    flex-shrink: 0;
}

.main_visual .l_slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.main_visual .l_slide li {
    width: 100%;
    height: 100%;
    position: absolute;
}

.main_visual .l_slide img {
    width: 100%;
    height: 100%;
}

.main_visual .r_text {
    flex: 1;
    /* background: #FFF1DA; */
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.main_visual .r_text ul {
    width: 435px;
    height: 100%;
    position: absolute;
}

.main_visual .r_text ul:nth-child(1) {
    left: 5%;
}

.main_visual .r_text ul:nth-child(2) {
    right: 15%;
}

.main_visual .r_text ul li {
    margin-bottom: 15px;
    position: absolute;
}

.main_visual .r_text ul.updown1 li {
    animation: updown1 7s linear infinite;
    top: 0;
}

.main_visual .r_text ul.updown2 li {
    animation: updown2 7s linear infinite;
    top: -100%;
}

@keyframes updown1 {

    0% {
        top: 0;
    }

    100% {
        top: -100%;
    }
}

@keyframes updown2 {

    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

.con_wrap {
    position: relative;
}

.con_bg {
    position: absolute;
    z-index: 1;
    top: 0;
}

.con_bg img {
    width: 100%;
}

/* char1 */
.char1_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 240px;
    top: 750px;
    z-index: 3;
}

.char1_wrap img.char1 {
    width: 450px;
}

.vector1 {
    padding-top: 1000px;
    position: relative;
    z-index: 2;
    background-color: var(--main-color);
}

/* section common */
section {
    padding-bottom: 300px;
}

section .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
}

section .txt h2 {
    font: var(--mp-title-font);
    color: var(--main-color);
    /* line-height: 98px; */
}

section .txt h2 strong {
    /* font-family: var(--eng-font); */
}

section .txt h2 span {
    /* font-weight: 400;
    color: var(--txt-w-color); */
}

section .txt p {
    font: var(--pre-25-r);
    color: var(--txt-gray);
    /* line-height: 42px; */
}

section button.more {
    width: 300px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background-color: var(--sub-color-1);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

/* con1 */
.con1 {
    background: var(--main-color);
    position: relative;
}

.con1 .txt h2 {
    color: var(--light-yellow);
}

.con1 .txt p {
    color: var(--txt-w-color);
}

.con1 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con1 article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con1 article ul {
    width: 100%;
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-bottom: 120px;
}

.con1 article ul li {
    width: 350px;
    height: 440px;
    border-radius: 15px;
    background-color: var(--txt-w-color);
    box-shadow: 0 0 0 5px var(--sub-color-1) inset;
    border: 5px solid var(--sub-color-1);
    position: relative;
    overflow: hidden;
}

.con1 article ul li h3 {
    display: none;
}

.con1 article ul li img {
    width: 100%;
    position: absolute;
    top: 0;
    animation: slideUpDown 5s ease-in-out infinite;
}

.con1 article ul li:nth-child(1) img {
    animation-delay: 0s;
}

.con1 article ul li:nth-child(2) img {
    animation-delay: 0.5s;
}

.con1 article ul li:nth-child(3) img {
    animation-delay: 1s;
}

@keyframes slideUpDown {
    0% {
        top: 0;
    }

    50% {
        top: -200%;
    }

    100% {
        top: 0;
    }
}

.slide-down {
    animation: slideDown 1s forwards !important;
}

@keyframes slideDown {
    0% {
        top: -200%;
    }

    100% {
        top: 0;
    }
}

/* 애니메이션 제거용 클래스 */
.stop-animation {
    animation: none !important;
    top: 0 !important;
}

section article .more_wrap {
    position: relative;
    margin-top: 30px;
}

section article .more_wrap img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
    pointer-events: none;
}

.con1 article ul li h3 {}

.modal_test_wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff80;
    z-index: 9999;
}

.modal_test_wrap.on {
    display: flex;
}

.modal_test_wrap>div {
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border-radius: 30px;
    border: 3px solid #000;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal_test_wrap>div>span {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 30px;
    cursor: pointer;
}

.modal_test_wrap .img {
    width: 450px;
    height: 250px;
    background: #ccc;
    margin-bottom: 30px;
}

.modal_test_wrap h3 {
    color: var(--sub-color-2);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.modal_test_wrap p {
    font-size: 23px;
    line-height: 30px;
    color: var(--txt-gray);
    text-align: center;
    margin-bottom: 60px;
}

.modal_test_wrap button {
    width: 330px;
    height: 60px;
    border-radius: 15px;
    border: 0;
    background-color: var(--sub-color-2);
    color: var(--txt-w-color);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.modal_test_wrap .on {
    display: flex;
}

.modal_test_wrap .start,
.modal_test_wrap .result {
    justify-content: center;
}

.modal_test_wrap .quiz .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_test_wrap .quiz .progress_bar {
    width: 450px;
    height: 35px;
    border-radius: 100px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

.modal_test_wrap .quiz .progress_bar .done {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: var(--sub-color-2);
    border-radius: 100px;
}

.modal_test_wrap .quiz .question {
    display: none;
    flex-direction: column;
    position: relative;
}

.modal_test_wrap .quiz .question .num {
    width: 350px;
    position: absolute;
    top: 85px;
}

.modal_test_wrap .quiz .question .num img {
    position: absolute;
    cursor: pointer;
    display: none;
}

.modal_test_wrap .quiz .question .num .prev {
    left: 0;
}

.modal_test_wrap .quiz .question .num .next {
    right: 0;
}

.modal_test_wrap .quiz .question h4 {
    font-size: 45px;
    font-weight: 700;
    color: var(--sub-color-2);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.modal_test_wrap .quiz .question p {
    font-size: 28px;
    font-weight: 500;
    color: #000;
}

.modal_test_wrap .quiz .question .bot {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
    width: 600px;
    justify-content: center;
}

.modal_test_wrap .quiz .question .bot li {
    width: 100%;
    height: 60px;
    background: var(--txt-dark-w-color);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    color: var(--txt-gray);
    cursor: pointer;
}

.modal_test_wrap .quiz .second .bot li,
.modal_test_wrap .quiz .fourth .bot li {
    width: 180px;
}

.modal_test_wrap .quiz .fifth .bot li {
    width: 280px;
}

.modal_test_wrap .quiz .question .bot li.check {
    background-color: var(--dark-green);
    color: var(--txt-w-color);
}

.modal_test_wrap .quiz .question.on {
    display: flex;
}

/* con2 */
.con2 {
    /* background: #818181; */
    position: relative;
}

.con2 .vector3 {
    position: absolute;
    transform: translateY(-100%);
}

.con2 .txt {
    padding-top: 300px;
    margin-bottom: 130px;
}

.con2 .txt p {
    margin-bottom: 50px;
}

.con2 .txt h2,
.con2 .txt p {
    /* color: #fff; */
}

.con2 article {
    width: 100%;
    height: 715px;
    position: relative;
}

.con2 article .img_container {
    position: absolute;
    left: -50px;
    top: 0;
    width: 715px;
    height: 660px;
    z-index: 10;
}

.con2 article .img_container.move {
    left: 1250px;
}

.con2 article .img_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease;
}

.con2 article .img_wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #ccc;
}

.con2 article .img_container .sw_btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background: #000; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.con2 article .img_container .sw_btn:hover {
    transform: translate(50%, -50%) rotate(360deg) scale(1.4);
}

.con2 article .img_container .sw_btn img {
    width: 100%;
    height: 100%;
}

.con2 article .img_container.move .sw_btn {
    right: 715px;
}

.con2 article .con_container {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
}

.con2 article .con_container.move {
    right: 850px;
}

.con2 article .con_wrap {
    flex-direction: column;
    justify-content: center;
    padding-right: 200px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .5s ease;
}

.con2 article .con_wrap h3 {
    font-size: 70px;
    font-family: var(--eng-font-family);
    margin-bottom: 40px;
    color: var(--main-color);
}

.con2 article .con_wrap.box2 h3 {
    color: var(--sub-color-1);
}

.con2 article .con_wrap strong {
    margin-bottom: 5px;
    font: var(--pre-35-sb);
    color: var(--txt-dark-gray);
}

.con2 article .con_wrap b {
    font: var(--pre-20-r);
    margin-bottom: 30px;
    color: var(--txt-medium-gray);
}

.con2 article .con_wrap ul {
    display: flex;
    justify-content: space-between;
}

.con2 article .con_wrap ul li {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: none;
    overflow: hidden;
}

.con2 article .con_wrap ul li:hover img {
    opacity: 0;
}

.con2 article .box1 ul li:nth-child(1):hover {
    background: url(../asset/boxhover1.png) center/contain;
}

.con2 article .box1 ul li:nth-child(2):hover {
    background: url(../asset/boxhover2.png) center/contain;
}

.con2 article .box1 ul li:nth-child(3):hover {
    background: url(../asset/boxhover3.png) center/contain;
}

.con2 article .box2 ul li:nth-child(1):hover {
    background: url(../asset/couponhover1.png) center/contain;
}

.con2 article .box2 ul li:nth-child(2):hover {
    background: url(../asset/couponhover2.png) center/contain;
}

.con2 article .box2 ul li:nth-child(3):hover {
    background: url(../asset/couponhover3.png) center/contain;
}

.con2 article .con_wrap ul li img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.con2 article .img_container,
.con2 article .con_container {
    transition: top 0.8s ease, left 0.8s ease, right 0.8s ease;
    /* 위치 변화에 transition 적용 */
}

.img_container .img1,
.con_container .box1 {
    opacity: 1;
    transition: opacity 0.5s ease;
    display: flex;
}

.img_container .img2,
.con_container .box2 {
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 0;
    left: 0;
    display: none;
}

/* move 클래스가 있을 때: 반대로 전환 */
.img_container.move .img1,
.con_container.move .box1 {
    opacity: 0;
    display: none;
}

.img_container.move .img2,
.con_container.move .box2 {
    opacity: 1;
    display: flex;
}

.con2 article .con_wrap .lr_btn .left_btn {}

.con2 article .con_wrap .lr_btn .right_btn {}

.con2 article .con_wrap .button {}

/* char2 */
.line_2_wrap {
    position: relative;
    width: 100%;
    height: 1100px;
    margin-top: 200px;
}

.char2_wrap {
    position: absolute;
    left: -300px;
    top: -100px;
}

.char2_wrap img.char2 {
    width: 405px;
}

.vector2 {
    position: absolute;
    z-index: -1;
}

.vector2 img {}

/* con3 */
.con3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

.con3 .txt {
    margin-bottom: 80px;
}

.con3 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.con3 article .con3_top {
    width: 750px;
    height: 350px;
    /* background: #707070; */
    margin-bottom: 140px;
}

.con3 article .con3_top ul.slide {
    width: 100%;
    height: 100%;
    display: flex;
}

.con3 article .con3_top ul.slide li {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.con3 article .con3_top ul.slide li img {
    width: 100%;
    height: 100%;
}

.con3 .lr_btn {
    position: absolute;
    display: flex;
    gap: 30px;
    align-items: center;
    left: 50%;
    top: 290px;
    transform: translate(-50%, 50%);
    z-index: 20;
}

.con3 .lr_btn div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    /* background: #565656; */
}

.con3 .lr_btn div img {
    width: 100%;
    height: 100%;
}

.con3 article .con3_bot {
    width: 1600px;
    display: flex;
    justify-content: center;
}

.con3 article .con3_bot ul {
    width: 100%;
    display: flex;
    /* gap: 55px; */
}

.con3 article ul.slide-tem {
    display: none;
}

.con3 article .con3_bot ul.slide li {
    width: 430px !important;
    height: 200px;
    background-color: var(--bg-w-color);
    border: 2px solid var(--main-color);
    border-radius: 15px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.con3_bot.swiper,
.con3_bot .swiper-wrapper,
.con3_bot .swiper-slide {
    overflow: visible !important;
}

.con3 article .con3_bot ul.slide li.active {
    background-color: var(--main-color);
    /* transform: scale(1.2); */
}

.con3 article .con3_bot ul.slide li .star {
    width: 120px;
    height: 30px;
    /* background: #ccc; */
}

.con3 article .con3_bot ul.slide li .star img {
    width: 100%;
    height: 100%;
}

.con3 article .con3_bot ul.slide li .img_wrap {
    width: 230px;
    position: absolute;
    right: 5%;
    top: -35%;
}

.con3 article .con3_bot ul.slide li .img_wrap img {
    width: 100%;
}

.con3 article .con3_bot ul.slide li .info {
    display: flex;
    flex-direction: column;
}

.con3 article .con3_bot ul.slide li .info p {
    font: var(--pre-25-r);
    color: var(--txt-medium-gray);
    margin-bottom: -6px;
}

.con3 article .con3_bot ul.slide li.active .info p {
    color: var(--bg-be-color);
}

.con3 article .con3_bot ul.slide li .info h3 {
    font: var(--pre-30-b);
    color: var(--main-color);
    margin-bottom: 15px;
}

.con3 article .con3_bot ul.slide li.active .info h3 {
    color: var(--txt-w-color);
}

.con3 article .con3_bot ul.slide li .info b {
    font: var(--pre-18-r);
    color: var(--txt-gray);
    margin-bottom: 10px;
    line-height: 1.4;
}

.con3 article .con3_bot ul.slide li.active .info b {
    color: var(--txt-light-gray);
}

.con3 article .con3_bot ul.slide li button.buy {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
    font: var(--pre-25-sb);
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.con3 article .con3_bot ul.slide li.active button.buy {
    background-color: var(--sub-color-1);
}

/* con4 */
.con4 {
    padding-bottom: 0;
    margin-bottom: -200px;
    padding-top: 200px;
    background-image: url(../asset/review_bg.png);
    background-size: cover;
}

.con4 .txt p {
    color: var(--txt-dark-gray);
}

.con4 ul {
    display: flex;
    justify-content: center;
    column-gap: 120px;
    row-gap: 0;
    flex-wrap: wrap;
}

.con4 ul li a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 345px;
    height: 655px;
    background: var(--bg-w-color);
    border-radius: 20px;
    padding-inline: 25px;
    flex-shrink: 0;
}

.con4 ul li:nth-child(2) {
    margin-top: 200px;
    margin-bottom: -100px;
}

.con4 ul li:nth-child(5) {
    margin-top: 100px;
}

.con4 ul li .img {
    width: 335px;
    height: 385px;
    background: #ccc;
    border-radius: 10px;
    align-self: center;
    margin-top: 25px;
    overflow: hidden;
}

.con4 ul li .img img {
    width: 100%;
    height: 100%;
}

.con4 ul li .info {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.con4 ul li .info img {
    width: 45px;
    padding-top: 20px;
}

.con4 ul li .info p {
    font: var(--pre-25-sb);
    /* line-height: 40px; */
}

.con4 ul li .info .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con4 ul li .info b {
    border: 0;
    width: 220px;
    height: 45px;
    border-radius: 0 50px 0 20px;
    background: var(--main-color);
    color: var(--txt-w-color);
    font: var(--pre-20-m);
    margin-left: -25px;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.con4 ul li .info span {
    font: var(--pre-25-b);
    color: var(--sub-color-1);
}