@charset "utf-8";

/* 반응형 아이패드 */
@media screen and (max-width: 834px) {
    .inner {
        width: 740px;
    }

    .main_visual {
        width: 100%;
        height: 250px;
        background-image: url(../asset/notice_banner_phone.jpg);

    }

    .con1 {
        width: 100%;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .con1 h3 {
        font: var(--pre-30-b);
        text-align: center;
    }

    .con1 b::after {
        content: '';
        position: absolute;
        left: -12px;
        bottom: -22px;
        width: 255px;
    }

    .con1 .icon {
        width: 60%;
    }

    .con2 {
        width: 100%;
        padding: 100px 0;
    }

    .con2 h2 {
        font-family: var(--eng-font-family);
        font-size: 30px;
    }

    .event_list {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .event_list .event_item {
        width: 660px;
        height: 160px;
        padding-left: 60px;
        justify-content: flex-end;
    }

    /* .event_list .event_item .icon>img {
    width: 80px;
  } */

    .event_list .event_item .evicon1,
    .event_list .event_item .evicon3 {
        width: 80px;
        position: absolute;
        left: -37px;
        top: 20%;
    }

    .event_list .event_item .evicon2 {
        width: 80px;
        position: absolute;
        left: -5.5%;
        top: 26%;
    }

    .event_list .event_item .vector1,
    .event_list .event_item .vector2,
    .event_list .event_item .vector3 {
        width: 40px;
        position: absolute;
        left: -12%;
        top: 16%;
    }

    .event_list .event_item .text_box {
        gap: 6px;
    }

    .event_list .event_item .text_box strong {
        font: var(--pre-25-sb);
        white-space: nowrap;
    }

    .event_list .event_item .text_box p {
        font: var(--pre-18-r);
        white-space: nowrap;
    }

    .event_list .event_item .tag {
        font: var(--pre-15-b);
        padding-right: 10px;
    }

    .event_list .event_item .tag::after {
        right: 0;
        bottom: -230%;
        width: 80px;
    }


    /* 공지사항 */
    .con3 {
        padding: 50px 0;
    }

    .notice_header {
        height: 80px;
    }

    .notice_header h2 {
        font-size: 30px;
    }

    .notice_list {
        height: 290px;
        overflow: hidden;
        padding: 0 20px;
    }

    .question {
        padding: 15px;
    }

    .qnum {
        width: 25px;
        height: 25px;
        font-size: 13px;
    }

    .qtext {
        font: var(--pre-15-m);
        padding-left: 15px;
    }

    .notice_item.on span.qtext {
        font: var(--pre-15-b);
    }

    .arrow img {
        width: 15px;
    }

    .notice_answer {
        display: none;
        padding: 0 0 10px 70px;
        font: var(--pre-15-m);
        color: var(--txt-dark-gray);
    }


    .bobissue {
        width: 100%;
        padding: 25px 0;
        overflow: hidden;
    }

    .bobissue ul {
        gap: 8px;
        font-size: 57px;
    }

    .con4 {
        padding: 50px 0 150px 0;
    }

    .faq_container {
        height: 410px;
        border-radius: 15px 10px 10px 15px;
    }

    .faq_left {
        width: 205px;
        padding: 0 5px 0 75px;
    }

    .faq_left h2 {
        font-size: 30px;
    }

    .faq_left .faq_icons {
        gap: 15px;
    }

    .faq_left .faq_icons button {
        display: none;
    }


    /* Q&A 오른쪽 리스트 */
    .faq_list {
        width: 535px;
    }

    .faq_item {
        padding-left: 25px;
        height: 94px;
    }

    .faq_item.on {
        height: 139px;
    }

    .faq_question {
        height: 45px;
        gap: 10px;
        font: var(--pre-16-m);
    }

    .faq_question img {
        width: 15px;
        height: 15px;
    }

    .faq_item.on .faq_question {
        height: 86px;
    }

    .faq_item.on .faq_answer {
        opacity: 1;
    }

    .faq_item.on span {
        font: var(--pre-16-m);
        color: var(--sub-color-1);
    }

    .faq_answer {
        font: var(--pre-16-m);
        padding-left: 28px;
        opacity: 0;
        transition: height 0.3s ease;
        box-sizing: border-box;
        display: block;
        text-align: left;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease;
    }

    .faq_answer p {
        font: var(--pre-15-m);
    }
}


@media screen and (max-width: 375px) {
    .inner {
        width: 335px;
    }

    .main_visual {
        height: 150px;
        background-image: url(../asset/notice_banner_tap.jpg);
    }


}
