@charset "utf-8";

* {
  box-sizing: border-box;
}

h2 {
  font-family: var(--eng-font-family);
  color: var(--main-color);
  font-size: 45px;
}

.main_visual {
  width: 100%;
  height: 400px;
  background: url(../asset/notice_banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.con1 {
  width: 100%;
  padding: var(--bt-pad) 0;
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 70px;
}

.con1 h3 {
  font: var(--pre-40-b);
  color: var(--txt-gray);
}

.con1 b {
  color: var(--bg-w-color);
  display: inline-block;
  position: relative;
  z-index: 1;
}

.con1 b::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -5px;
  width: 330px;
  height: 70px;
  background: url(../asset/mounillssue/tit_under.png) no-repeat;
  background-size: contain;
  z-index: -1;
}

.con1 .icon {
  width: 280px;
  height: 250px;
  background: url(../asset/mounillssue/icon.png) no-repeat center/contain;
}


/* 이벤트 */
.con2 {
  width: 100%;
  text-align: center;
  padding: var(--bt-pad) 0;
}

.event_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 70px;
}

.event_list .event_item {
  width: 1030px;
  height: 250px;
  background: url(../asset/mounillssue/Card_bg.png) no-repeat;
  padding: 70px 50px 70px 100px;
  background-size: contain;
  position: relative;
  text-align: start;
}

.event_list .event_item .evicon1,
.event_list .event_item .evicon3 {
  position: absolute;
  left: -4.5%;
  top: 25%;
}

.event_list .event_item .evicon2 {
  position: absolute;
  left: -4.5%;
  top: 30%;
}

.event_list .event_item .vector1,
.event_list .event_item .vector2,
.event_list .event_item .vector3 {
  position: absolute;
  left: -12%;
  top: 16%;
  /* transition: .2s; */
}

.event_list .event_item:hover .vector1,
.event_list .event_item:hover .vector2,
.event_list .event_item:hover .vector3 {
  
  animation: rotateV .6s linear infinite;
}

@keyframes rotateV {
  0%,100% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(0);
  }
}

.event_list .event_item .box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event_list .event_item .text_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event_list .event_item .text_box strong {
  font: var(--pre-35-sb);
}

.event_list .event_item .text_box p {
  font: var(--pre-25-r);
}

.event_list .event_item .text_box .mobile_text {
  display: none;
}

.event_list .event_item .tag {
  align-self: center;
  padding-bottom: 0px;
  padding-right: 85px;
  font: var(--pre-25-r);
  color: var(--bg-w-color);
  display: inline-block;
  position: relative;
  z-index: 1;
  color: var(--txt-w-color);
}

.event_list .event_item .tag::after {
  content: '';
  position: absolute;
  right: 40px;
  bottom: -22px;
  width: 180px;
  height: 80px;
  background: url(../asset/mounillssue/color1.png) no-repeat;
  background-size: contain;
  z-index: -1;
  pointer-events: none;
}

.event_list .event_item:nth-child(2) .tag::after {
  background-image: url(../asset/mounillssue/color2.png);
}

.event_list .event_item:nth-child(3) .tag::after {
  background-image: url(../asset/mounillssue/color3.png);
}


/* 공지사항 */
.con3 {
  padding: 100px 0;
}

.notice_header {
  width: 100%;
  height: 120px;
  background: url(../asset/mounillssue/notice_top.png) no-repeat center/cover;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice_header h2 {
  color: var(--txt-w-color);
  font-size: 45px;
}

.notice {
  width: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice_list {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.notice_item {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
  font: var(--pre-25-r);
}

.notice_item:last-child {
  border: 0;
}

.question {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  cursor: pointer;
}

.qnum {
  width: 52px;
  height: 50px;
  background: var(--main-color);
  color: var(--txt-w-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font: var(--pre-20-b);
}

.qtext {
  flex: 1;
  padding-left: 30px;
  font: var(--pre-25-r);
  color: var(--txt-dark-gray);
}

.notice_item.on span.qtext {
  font: var(--pre-25-b);
  color: var(--sub-color-1);
}

.arrow {
  width: 20px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 공지사항 답변 on */
.notice_answer {
  display: none;
  padding: 0 0 20px 110px;
  font: var(--pre-18-r);
  color: var(--txt-dark-gray);
}

.notice_item.on .notice_answer {
  display: block;
}





/* 밥잇슈 */
.bobissue {
  width: 100%;
  padding: 50px 0;
  overflow-x: hidden;
}

.bobissue ul {
  display: flex;
  gap: 20px;
  font-family: var(--eng-font-family);
  font-size: 133px;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.bobissue ul li {
  color: #FF8347;
}

.bobissue li:nth-child(even) {
  color: transparent;
  -webkit-text-stroke: 2px #FF8347;
}


/* Q&A */
.con4 {
  width: 100%;
  padding: 100px 0 300px 0;
  box-sizing: border-box;
}

.faq_container {
  width: 100%;
  height: 735px;
  display: flex;
  background: var(--main-color);
  color: var(--txt-w-color);
  border-radius: 30px 20px 20px 30px;
  border: 2px solid var(--main-color);
  overflow: hidden;
}

.faq_left {
  width: 400px;
  height: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 150px;
}

.faq_left h2 {
  font-family: var(--eng-font-family);
  font-size: 45px;
  color: var(--txt-w-color);
  text-align: center;
}

.faq_left .faq_icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq_left .faq_icons button {
  border: 0;
  background: transparent;
  cursor: pointer;
  width: 40px;
}



/* Q&A 오른쪽 리스트 */
.faq_list {
  width: 1040px;
  background: var(--bg-w-color);
  color: var(--txt-gray);
  display: flex;
  flex-direction: column;
}

.faq_item {
  overflow: hidden;
  border-bottom: 1px solid var(--main-color);
  padding-left: 50px;
  transition: height 0.3s ease;
  height: 105px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
}

.faq_item:last-child {
  border: 0;
}

.faq_item.on {
  height: 216px;
  overflow: hidden;
}

.faq_question {
  height: 105px;
  padding: 0;
  font: var(--pre-25-r);
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}


.faq_item.on .faq_question {
  height: 86px;
  /* 열렸을 때 조금 줄임 */
}

.faq_item .toggle_icon_p {
  display: inline;
}

.faq_item .toggle_icon_m {
  display: none;
}

.faq_item.on .toggle_icon_p {
  display: none;
}

.faq_item.on .toggle_icon_m {
  display: inline;
}

.faq_item.on span {
  font: var(--pre-25-b);
  color: var(--sub-color-1);
}

.faq_answer {
  height: 0;
  color: var(--txt-dark-gray);
  font: var(--pre-18-m);
  overflow: hidden;
  padding-left: 40px;
  transition: height 0.3s ease;
  box-sizing: border-box;
  display: block;
  text-align: left;
}

.faq_item.on .faq_answer {
  height: 130px;
}

.faq_answer p {
  font: var(--pre-18-r);
  margin: 0;
}