@charset "utf-8";


body {
    font-family: var(--main-font-family);
    color: var(--txt-dark-gray);
}

.main_visual {
    width: 100%;
    height: 400px;
    background-color: var(--light-yellow);
}


/* 상단 탭 */
.tap {
    width: 100%;
    height: 50px;
}

.tap .inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.tap .list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tap .list span {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
}

.tap .list img {
    width: 8px;
    height: 14px;
}

.tap .one span {
    color: var(--txt-medium-m-gray);
    font-weight: 500;
}

.con1 {
    width: 100%;
    display: flex;
    gap: 120px;
    padding-top: var(--bt-pad);
    overflow: visible;
    margin-bottom: var(--fc-pad);
}

.left_tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* 탭바 */

.tab_wrapper {
    width: 230px;
    height: 644px;
    position: sticky;
    top: 200px;
    border: 4px solid var(--main-color);
    display: flex;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--more-light-yellow);
}

.tab_wrapper img {
    width: 150px;
    height: 90px;
    position: absolute;
    left: 65px;
    top: -78px;
}

.tab_wrapper .tab_sec {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
    width: 100%;
}

.tab_wrapper .list {
    margin-bottom: 0;
}


.left_tab .sticky_box .tab_sec em {
    font: var(--pre-25-b);
    color: var(--main-color);
}

.left_tab .sticky_box .tab_sec ul {
    padding: 20px 0;
}

.left_tab .sticky_box .tab_sec ul li {
    font: var(--pre-20-r);
    color: var(--txt-medium-m-gray);
    padding-bottom: 15px;
}

.left_tab .sticky_box .tab_sec ul li.on {
    font: var(--pre-20-b);
    color: var(--sub-color-1);
}

.left_tab .sticky_box .tab_sec ul li:last-child {
    padding-bottom: 0;
}

.left_tab .sticky_box .tab_sec.list {
    border: none;
}

.left_tab .sticky_box .tab_sec.list ul {
    padding-bottom: 0;
}

.left_tab .sticky_box .tab_sec.list li:last-child {
    padding-bottom: 0;
}



/* right */

.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex: 1;
    height: 1080px;
    padding: 25px;
    border-radius: 20px;
}


/* 배송 현황 */

.main .one {
    width: 100%;
}

.main .one strong {
    font: var(--pre-25-sb);
    border-radius: 15px;

}

.main .one .content {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-color:var(--more-light-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main .one .content ul {
    display: flex;
    gap: 50px;
}

.main .one li {
    display: flex;
    gap: 50px;
    align-items: center;
}

.main .one li .txt {
    display: flex;
    flex-direction: column;
    font: var(--pre-20-b);
    align-items: center;
    gap: 10px;
}

.main .one li .txt span {
    font: var(--pre-18-r);
}

.main .one li img {
    width: 14px;
    height: 22px;
}








/* 주문내역 */
.main .two {
    width: 100%;
}

.main .two .top_txt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main .two .top_txt strong {
    font: var(--pre-25-sb);
}


/* 개월수 옵션 버튼 */
.main .two .top_txt .click {
    position: relative;
}

.main .two .top_txt .click button {
    border: none;
    background: transparent;
    color: #888888;
    font-family: var(--main-font-family);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .two .top_txt .click button img {
    width: 26px;
    height: 14px;
}

.main .two .top_txt .click .option {
    position: absolute;
    left: 10px;
    top: 60%;
    background: #ccc;
    height: 0;
    opacity: 0;
}

.main .two .top_txt .click.on .option {
    height: 100px;
    opacity: 1;
}

.main .two .content {
    width: 100%;
}

.main .two .content .main_con {
    flex-direction: column;
    gap: 30px;
    display: none;
}

.main .two .content .main_con li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .two .content .main_con li .top {
    font: var(--pre-15-m);
    display: flex;
    justify-content: space-between;
}

.main .two .content .main_con li .top .left span {
    color: var(--txt-medium-gray);
    font-weight: 400;
}

.main .two .content .main_con li .top .right a {
    text-decoration: underline;
    font: var(--pre-18-r);
}

.main .two .content .main_con li .bottom {
    background-color: var(--bg-con-color);
    border-radius: 10px;
    padding: 0 20px;
}

.main .two .content .main_con li .bottom a {
    width: 100%;
    height: 170px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;

}

.main .two .content .main_con li .bottom img {
    width: 120px;
    border-radius: 10px;
}

.main .two .content .main_con li .bottom .center {
    width: 100%;
}

.main .two .content .main_con li .bottom span {
    font: var(--pre-15-m);
    color: var(--txt-medium-m-gray);
}

.main .two .content .main_con li .bottom p {
    font: var(--pre-20-m);
}

.main .two .content .main_con li .bottom .bottom_txt {
    width: 820px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    width: 100%;
}

.main .two .content .main_con li .bottom .bottom_txt p {
    font: var(--pre-25-sb);
    color: var(--sub-color-1);
}

.main .two .content .main_con li .bottom .bottom_txt p span {
    font: var(--pre-25-sb);
    color: var(--txt-dark-gray);
}

.main .two .content .main_con li .bottom .bottom_txt span {
    font: var(--pre-20-b);
    color: var(--sub-color-1);
}


.main .two .content .page1.on {
    display: flex;
}

.main .two .content .page2.on {
    display: flex;
}

.main .two .content .page3.on {
    display: flex;
}

/* 버튼 */

.pagination {
    margin-top: 100px;
    margin-bottom: 88px;
    display: flex;
    justify-self: center;
    gap: 5px;
}

.pagination li {
    width: 34px;
    height: 34px;
    border: 1px solid var(--txt-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: var(--txt-medium-m-gray);
    cursor: pointer;
}

.pagination li.on {
    color: var(--txt-w-color);
    background-color: var(--sub-color-1);
   border: 1px solid var(--sub-color-1);
}