@charset "utf-8";

/* h4 {
    font: var(--pre-35-sb);
    padding-bottom: 15px;
}

p {
    font: var(--pre-28-r);
    color: var(--txt-gray);
} */


body {
    font-family: var(--main-font-family);
}

.main_visual {
    width: 100%;
    height: 400px;
    background: url(../asset/mypage/main_visual.png) no-repeat center/cover;
}


/* 상단 탭 */
.tap {
    width: 100%;
    height: 50px;
}

.tap .inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

.tap .one {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tap .one span {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    display: none;
}

.tap .one img {
    width: 8px;
    height: 14px;
    display: none;
}


.con1 {
    width: 100%;
    display: flex;
    gap: 120px;
    padding-top: var(--bt-pad);
    overflow: visible;
    margin-bottom: var(--fc-pad);
}

.left_tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* 탭바 */

.tab_wrapper {
    width: 230px;
    height: 644px;
    position: sticky;
    top: 200px;
    border: 5px solid var(--main-color);
    display: flex;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--more-light-yellow);
}

.tab_wrapper img {
    width: 150px;
    height: 90px;
    position: absolute;
    left: 65px;
    top: -78px;
}

.tab_wrapper .tab_sec {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
    width: 100%;
}

.tab_wrapper .list {
    margin-bottom: 0;
}


.left_tab .sticky_box .tab_sec em {
    font: var(--pre-25-b);
    color: var(--main-color);
}

.left_tab .sticky_box .tab_sec ul {
    padding: 20px 0;
}

.left_tab .sticky_box .tab_sec ul li {
    font: var(--pre-20-r);
    color: var(--txt-medium-m-gray);
    padding-bottom: 15px;
}

.left_tab .sticky_box .tab_sec ul li:last-child {
    padding-bottom: 0;
}

.left_tab .sticky_box .tab_sec.list {
    border: none;
}

.left_tab .sticky_box .tab_sec.list ul {
    padding-bottom: 0;
}

.left_tab .sticky_box .tab_sec.list li:last-child {
    padding-bottom: 0;
}



/* right */

.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex: 1;
    background: var(--more-light-yellow);
    height: 1080px;
    padding: 25px;
    border-radius: 20px;
}

.main .one {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .one .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .one .top .left {
    display: flex;
    gap: 20px;
}

.main .one .top .left img {
    width: 78px;
}

.main .one .top .left .tit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .one .top .left .tit strong {
    font: var(--pre-20-b);
}

.main .one .top .left .tit p {
    font: var(--pre-18-r);
}

.main .one .top .left .tit p span {
    color: var(--sub-color-1);
}

.main .one .top .btn {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .one .top .btn a {
    font-size: 17px;
    font-weight: 400;
    color: var(--txt-w-color);
}


.main .one img {
    width: 100%;
}

.main .one .bottom {
    width: 100%;
}

.main .one .bottom ul {
    display: flex;
    gap: 230px;
    justify-content: center;
}

.main .one .bottom ul li {
    display: flex;
    flex-direction: column;
    font: var(--pre-18-r);
    align-items: center;
    gap: 10px;
}

.main .one .bottom ul li span {
    font: var(--pre-20-b);
}

.main .two {
    width: 100%;

}

.main .two strong {
    font: var(--pre-25-sb);
}

.main .two .content {
    width: 100%;
    height: 242px;
    background-color: var(--bg-w-color);
    border-radius: 15px;
    margin-top: 20px;
}


.main .three strong {
    font: var(--pre-25-sb);
    border-radius: 15px;
    margin-top: 20px;
}

.main .three .content {
    width: 100%;
    height: 242px;
    background-color: var(--bg-w-color);
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: #595959;
    font: var(--pre-18-r);
}

.main .three .content img {
    width: 50px;
}