@charset "utf-8";


body {
    font-family: var(--main-font-family);
    color: var(--txt-dark-gray);
}

.main_visual {
    width: 100%;
    height: 400px;
    background-image: url(../asset/mypage_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {
    font: var(--pre-25-sb);
    padding-bottom: 20px;
}

p {
    font: var(--pre-20-m);
}

/* 상단 탭 */
.tap {
    width: 100%;
    height: 50px;
}

.tap .inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.tap .list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.tap .list span {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    cursor: pointer;
}

.tap .list span a {
    display: block;
}

.tap .list img {
    width: 8px;
    height: 14px;
}

.tap .one span {
    color: var(--txt-medium-m-gray);
    font-weight: 500;
}

.con1 {
    width: 100%;
    display: flex;
    gap: 120px;
    padding-top: var(--bt-pad);
    overflow: visible;
    margin-bottom: var(--sec-pad);
}

.left_tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* 탭바 */

.tab_wrapper {
    width: 230px;
    height: 644px;
    position: sticky;
    top: 200px;
    border: 4px solid var(--main-color);
    display: flex;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--more-light-yellow);
}

.tab_wrapper img {
    width: 150px;
    height: 90px;
    position: absolute;
    left: 65px;
    top: -78px;
}

.tab_wrapper .tab_sec {
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
    width: 100%;
}

.tab_wrapper .list {
    margin-bottom: 0;
}


.left_tab .sticky_box .tab_sec em {
    font: var(--pre-25-b);
    color: var(--main-color);
}

.left_tab .sticky_box .tab_sec ul {
    padding: 20px 0;
}

.left_tab .sticky_box .tab_sec ul li {
    font: var(--pre-20-r);
    color: var(--txt-medium-m-gray);
    padding-bottom: 15px;
}

.left_tab .sticky_box .tab_sec ul li.on {
    font: var(--pre-20-b);
    color: var(--sub-color-1);
}

.left_tab .sticky_box .tab_sec ul li:last-child {
    padding-bottom: 0;
}

.left_tab .sticky_box .tab_sec.list {
    border: none;
}

.left_tab .sticky_box .tab_sec.list ul {
    padding-bottom: 0;
}

.left_tab .sticky_box .tab_sec.list li:last-child {
    padding-bottom: 0;
}



/* right */


.info {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex: 1;
}

.info .top_visual {
    width: 100%;
    height: 320px;
    background-color: #FFFCE4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info .top_visual p {
    font: var(--pre-30-sb);
    color: var(--txt-gray);
}

.info .top_visual p span {
    font: var(--pre-30-sb);
    color: var(--main-color);


}

.info .top_visual>span {
    font: var(--pre-20-r);
    display: block;
}

.info .top_visual img {
    width: 258px;
    height: 156px;
    padding-top: 30px;
}


.sec4_box {
    background-color: var(--bg-con-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.sec4_left .sec4_t {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec4_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec4_left .sec4_t em {
    font: var(--pre-22-b);
    color: var(--txt-dark-gray);
    padding-bottom: 5px;
}

.sec4_left .sec4_t span {
    font-size: 19px;
    font-weight: 500;
    color: var(--txt-dark-gray);
}

.sec4_left .sec4_b p {
    font: var(--pre-18-r);
    color: var(--txt-medium-m-gray);
}



/* 결제수단 */
.sec5_card {
    display: flex;
    align-items: center;
    background-color: var(--bg-con-color);
    padding: 30px 25px;
    border-radius: 10px;
    justify-content: space-between;
}

.sec5_card .left {
    display: flex;
    gap: 30px;
}

.sec5_card img {
    width: 100px;
}

.sec5_card .sec5_ri h5 {
    font: var(--pre-20-m);
    color: var(--txt-gray);
}

.sec5_card .sec5_ri p {
    font: var(--pre-18-r);
    color: var(--txt-medium-gray);
}





/* 하단 버튼 */
.button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: var(--fc-pad);
    cursor: pointer;
}

.button ul li {
    width: 250px;
    height: 55px;
    border: 0;
    background: var(--sub-color-1);
    color: var(--txt-w-color);
    cursor: pointer;
    font: var(--pre-20-m);
    border-radius: 10px;
}

.button ul li:nth-child(1) {
    background: var(--sub-color-1);
}

.button ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}