@charset "utf-8";
/* 
@media screen and (max-width : 1480px) {
    .wrap {
        width: 100%;
    }

    .inner {
        width: 90%;
    }

    .story .content-section .story-all li {
        width: calc((100% - 20px) / 2);
        margin-bottom: 1vh;
    }

    .story .content-section .con1 img {
        width: 100%;
        height: auto;
        max-width: 380px;
    }
    .story .content-section .con1 .txt .top p {
        font: var();
    }
}

@media screen and (max-width : 1110px) {

    .story .content-section .story-all li {
        margin-bottom: 1vh;
    }

}

@media screen and (max-width : 1090px) {}

 */



/* 태블릿 원 사이즈 */
@media screen and (max-width : 834px) {
    .inner {
        width: 95%;
    }

    .wrap {
        width: 100%;
    }

    .story {
        width: 100%;
        padding: 100px 0;
    }

    .title {
        height: 250px;
        background-image: url(../asset/storyissue_banner_tap.jpg);
    }

    /* 테스트 섹션 */
    .test-section {
        height: 450px;
    }


    .modal_test_wrap .start img {
        width: 250px;
        padding-bottom: 10px;
    }

    .modal_test_wrap .start .txt {
        padding-bottom: 30px;

    }

    .modal_test_wrap .start .txt h3 {
        font: var(--pre-30-b);
    }

    .modal_test_wrap .start .txt p {
        font: var(--pre-18-r);
        line-height: 1.3;
    }

    .modal_test_wrap .start .button p {
        width: 250px;
        height: 45px;
        border-radius: 10px;
        font: var(--pre-18-sb);
    }

    /* 테스트 시작 */
    .bar {
        align-items: center;
    }

    .progress_bar {
        width: 300px;
        height: 20px;
    }

    /* 60씩 */
    .modal_test_wrap .top_txt {
        padding-top: 30px;
    }

    .modal_test_wrap .top h4 {
        font: var(--pre-30-b);
    }

    .modal_test_wrap .top_txt p {
        font: var(--pre-20-b);
    }

    .modal_test_wrap .top .num img {
        width: 30px;
        height: 30px;
        top: -13px;
    }

    .modal_test_wrap .bot {
        padding-top: 40px;
        padding-bottom: 0;
        gap: 20px;
    }

    .modal_test_wrap .bot li {
        width: 380px;
        height: 45px;
        font: var(--pre-18-r);
    }

    /* 모달 */
    .result-modal {
        width: 500px;
        height: 450px;
        padding: 0px 30px;
    }

    .modal_test_wrap .result-modal h3 {
        font: var(--pre-22-b);
        margin-bottom: 5px;
    }

    .modal_test_wrap .result-modal img {
        width: 300px;
        height: 150px;
        background: #ccc;

    }

    .modal_test_wrap .result-modal .btn {
        padding-top: 40px;
        gap: 20px;
    }

    .modal_test_wrap .result-modal button {
        width: 190px;
        height: 40px;
        border-radius: 10px;
        font: var(--pre-15-m);
    }

    /* 결과 */

    .modal_test_wrap .result>.txt{
        padding: 0 0 20px 0;
    }
    .modal_test_wrap .result>.txt h3 {
        font: var(--pre-30-b);
    }

    .modal_test_wrap .result>.txt p {

        font: var(--pre-18-r);
        padding-bottom: 10px;
    }

    .modal_test_wrap .result ul {
        gap: 5px;
    }

    .modal_test_wrap .result ul li {
        width: 300px;
        height: 220px;
        border-radius: 15px;
    }

    .modal_test_wrap .result ul li a {
        padding: 5px 10px;
    }

    .modal_test_wrap .result ul li a>img {
        width: 28px;
        right: 13px;
        top: 13px;
    }

    .modal_test_wrap .result .button {
        padding-top: 30px;
        gap: 10px;
    }

    .modal_test_wrap .result .button p {
        font: var(--pre-15-r);
        width: 200px;
        height: 40px;
        border-radius: 10px;
    }

    .modal_test_wrap .result ul li .txt {
        padding: 10px 0;

    }

    .modal_test_wrap .result ul li .txt p {
        font: var(--pre-20-m);
        line-height: 1.2;
    }

    .modal_test_wrap .result ul li .txt .under .left {
        align-items: center;
        font: var(--pre-15-r);
    }

    .modal_test_wrap .result ul li .txt .under .right {
        gap: 10px;
        font: var(--pre-15-r);
    }

    .modal_test_wrap .result ul li .txt .under .left img {
        width: 16px;
        height: 16px;
    }


    .modal_test_wrap .result ul li .txt .under .right img {
        width: 8px;
        height: 13px;
    }

    /* 스토리 섹션 */
    .story {
        padding-bottom: 0;
    }

    .story .gnb ul {
        font: var(--pre-35-b);
        gap: 10px;
    }

    .story .gnb ul li.dropdown a.menu-toggle img {
        width: 25px;
        height: 13px;
    }

    .story .gnb ul li.dropdown a.menu-toggle {
        gap: 10px;
    }

    .story .gnb ul li.dropdown a.menu-toggle p {
        width: 95px;
    }

    .story .gnb ul li.dropdown a.menu-toggle p::after {
        height: 3px;
    }

    .story .gnb ul li.dropdown ul {
        width: 110px;
        height: 120px;
        left: -5px;
        top: 60px;
        font: var(--pre-20-sb);
        color: var(--txt-gray);
        gap: 10px;
    }


    .story .inner .content-section .con1 {
        height: 220px;
        padding-left: 15px;
    }

    .story .content-section .con1 img {
        width: auto;
        height: 190px;
    }

    .story .content-section .con1 .txt .top {
        padding-bottom: 8px;
    }

    .story .content-section .con1 .txt .top .first {
        font: var(--pre-15-m);
    }

    .story .content-section .con1 .txt .top p {
        font: var(--pre-30-b);
    }

    .story .content-section .con1 .txt .bottom {
        font: var(--pre-18-r);
        padding-bottom: 30px;
    }


    .story .content-section .con1 .txt .button a {
        font: var(--pre-13-sb);
        width: 150px;
        height: 30px;
    }



    .story .content-section .story-all {
        gap: 10px;
    }

    .story .content-section .story-all li {
        width: calc((100% - 15px) / 2);
        height: 245px;
        margin-bottom: 1vh;
        border-radius: 15px;
    }

    .story .content-section .story-all li a>img {
        width: 35px;
    }

    .story .content-section .story-all li .txt {
        padding-bottom: 0;
    }

    .story .content-section .story-all li .txt p {
        font: var(--pre-20-m);
        line-height: 1.2;

    }

    .story .content-section .story-all li .txt .under .left {
        font: var(--pre-15-m);
    }

    .story .content-section .story-all li .txt .under .left img {
        width: 25px;
        height: 25px;
    }

    .story .content-section .story-all li .txt .under .right img {
        width: 8px;
        height: 15px;
    }


}

/* 모바일 원 사이즈 */
@media screen and (max-width : 375px) {

    .title {
        height: 150px;
         background-image: url(../asset/storyissue_banner_phone.jpg);
    }

    /* 테스트 섹션 */
    .test-section {
        height: 510px;
    }


    .modal_test_wrap .start img {
        width: 200px;
        padding-bottom: 10px;
    }

    .modal_test_wrap .start .txt {
        padding-bottom: 30px;
        gap: 10px;
    }

    .modal_test_wrap .start .txt h3 {
        font: var(--pre-25-b);
    }

    .modal_test_wrap .start .txt p {
        font: var(--pre-15-r);
        line-height: 1.3;
    }

    .modal_test_wrap .start .button p {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font: var(--pre-18-sb);
    }

    /* 테스트 시작 */
    .bar {
        align-items: center;
    }

    .progress_bar {
        width: 300px;
        height: 20px;
    }

    /* 60씩 */
    .modal_test_wrap .top_txt {
        padding-top: 30px;
    }

    .modal_test_wrap .top h4 {
        font: var(--pre-25-b);
    }

    .modal_test_wrap .top_txt p {
        font: var(--pre-18-sb);
    }

    .modal_test_wrap .top .num img {
        width: 30px;
        height: 30px;
        top: -15px;
    }

    .modal_test_wrap .bot {
        padding-top: 40px;
        padding-bottom: 0;
        gap: 20px;
    }

    .modal_test_wrap .bot li {
        width: 300px;
        height: 45px;
        font: var(--pre-15-r);
    }

    /* 모달 */
    .result-modal {
        width: 330px;
        height: 350px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
    }

    .modal_test_wrap .result-modal h3 {
        font: var(--pre-20-b);
        margin-bottom: 5px;
    }

    .modal_test_wrap .result-modal>p {
        font: var(--pre-15-r);
        text-align: center;
    }

    .modal_test_wrap .result-modal img {
        width: 250px;
        height: auto;
        background: #ccc;

    }

    .modal_test_wrap .result-modal .btn {
        padding-top: 25px;
        gap: 15px;
    }

    .modal_test_wrap .result-modal button {
        width: 140px;
        height: 35px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 500;
    }

    /* 결과 */
    .modal_test_wrap .result>.txt {
        padding: 30px 0;
    }

    .modal_test_wrap .result>.txt h3 {
        font: var(--pre-20-b);
    }

    .modal_test_wrap .result>.txt p {
        font: var(--pre-15-r);
        padding-bottom: 0px;
    }

    .modal_test_wrap .result ul {
        gap: 10px;
        flex-direction: column;
    }

    .modal_test_wrap .result ul li {
        height: 100px;
        width: 100%;
        border-radius: 15px;
    }

    .modal_test_wrap .result ul li a {
        padding: 10px 15px
    }

    .modal_test_wrap .result ul li .txt {
        padding-bottom: 5px;
        padding-top: 0;
        gap: 20px;
    }

    .modal_test_wrap .result ul li .txt p {
        font: var(--pre-15-sb);
        line-height: 1.2;
    }

    .modal_test_wrap .result ul li .txt .under .left {
        align-items: flex-end;
    }

    .modal_test_wrap .result ul li .txt .under .left,
    .modal_test_wrap .result ul li .txt .under .right {
        font-size: 13px;
        font-weight: 400;

    }

    .modal_test_wrap .result ul li .txt .under .left img {
        width: 16px;
        height: 16px;
    }

    .modal_test_wrap .result ul li .txt .under .right img {
        width: 8px;
        height: 13px;
    }

    .modal_test_wrap .result .button {
        padding-top: 20px;
        border-radius: 10px;
        gap: 10px;

    }

    .modal_test_wrap .result .button p {
        font: var(--pre-15-r);
        width: 500px;
        height: 40px;
    }

    /* 스토리 섹션 */

    .story .gnb ul {
        font: var(--pre-25-b);
        gap: 10px;
    }

    .story .gnb ul li.dropdown a.menu-toggle img {
        width: 20px;
        height: 11px;
    }

    .story .gnb ul li.dropdown a.menu-toggle {
        gap: 10px;
    }

    .story .gnb ul li.dropdown a.menu-toggle p {
        width: 75px;
    }

    .story .gnb ul li.dropdown a.menu-toggle p::after {
        height: 3px;
    }

    .story .gnb ul li.dropdown ul {
        width: 97px;
        height: 100px;
        left: -10px;
        top: 50px;
        font: var(--pre-18-sb);
        color: var(--txt-gray);
    }






    .story .inner .content-section .con1 {
        height: 220px;
        padding-left: 15px;
        flex-direction: column;
        height: 356px;
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }

    .story .content-section .con1 img {
        width: 187px;
        height: auto;
    }

    .story .content-section .con1 .txt {
        align-items: center;
    }

    .story .content-section .con1 .txt .top {
        padding-bottom: 8px;
        text-align: center;
    }

    .story .content-section .con1 .txt .top .first {
        font-size: 13px;
        font-weight: 500;
    }

    .story .content-section .con1 .txt .top p {
        font: var(--pre-28-b);
        line-height: 1.3;
    }

    .story .content-section .con1 .txt .bottom {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }


    .story .content-section .con1 .txt .button {
        justify-content: center;
    }

    .story .content-section .con1 .txt .button a {
        width: 160px;
        height: 35px;
        font-size: 16px;
        font-weight: 500;
    }

    .story .content-section .story-all {
        gap: 10px;
        flex-wrap: wrap;
    }

    .story .content-section .story-all li {
        width: 100%;
        height: 245px;
        margin-bottom: 1vh;
        border-radius: 15px;
    }

    .story .content-section .story-all li .txt {
        padding-bottom: 0;
    }

    .story .content-section .story-all li .txt p {
        font: var(--pre-20-m);
        line-height: 1.2;

    }

    .story .content-section .story-all li .txt .under .left,.story .content-section .story-all li .txt .under .right {
        font: var(--pre-15-m);
    }

    .story .content-section .story-all li .txt .under .left img {
        width: 25px;
        height: 25px;
    }

    .story .content-section .story-all li .txt .under .right img {
        width: 8px;
        height: 15px;
    }

}