@charset "utf-8";

h4 {
    font: var(--pre-35-sb);
    padding-bottom: 15px;
}

p {
    font: var(--pre-28-r);
    color: var(--txt-gray);
}

.main_visual {
    width: 100%;
    padding: 120px 0;
    text-align: center;
}

.con1 {
    width: 100%;
    display: flex;
    gap: 120px;
}

/* 왼쪽 고정 */
.tab_wrapper {
    width: 220px;
    height: 600px;
    position: sticky;
    top: 150px;
}

.tab_wrapper .tab_sec {
    border-bottom: 1px solid var(--txt-light-gray);
    padding: 20px 0 15px 0;
}

.left_tab {
    position: relative;
    display: block;
}

.left_tab .sticky_box .tab_sec em {
    font: var(--pre-20-m);
    color: var(--txt-dark-gray);
}

.left_tab .sticky_box .tab_sec ul {
    padding-top: 20px;
}

.left_tab .sticky_box .tab_sec ul li {
    font: var(--pre-18-r);
    color: var(--txt-medium-gray);
    padding-bottom: 15px;
}

.left_tab .sticky_box .tab_sec.list {
    border: none;
}

/* 오른쪽 */
.info {
    display: flex;
    flex-direction: column;
    gap: 150px;
    flex: 1;
}

/* 상단 탭바 메뉴 */
.tab_bar {
    width: 100%;
    height: 70px;
}

.tab_bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    font: var(--pre-25-m);
    color: var(--txt-w-color);
}

.tab_bar ul li {
    width: 50%;
    background: var(--sub-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_bar ul li:nth-child(2) {
    background: var(--main-color);
}


/* 배송지 */
.sec1_box {
    width: 100%;
    border: 1px solid var(--txt-dark-gray);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

.sec1_left .sec1_t {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec1_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec1_left .sec1_t em {
    font: var(--pre-30-sb);
    color: var(--txt-dark-gray);
}

.sec1_left .sec1_t span {
    font: var(--pre-25-m);
    color: var(--txt-dark-gray);
}

.sec1_left .sec1_b p {
    font: var(--pre-20-r);
    color: var(--txt-medium-m-gray);
}

.sec1_right {
    width: 120px;
    height: 35px;
    background: var(--sub-color-1);
    border-radius: 5px;
}

.sec1_right a {
    font: var(--pre-20-m);
    color: var(--txt-w-color);
    display: flex;
    justify-content: center;
    line-height: 35px;
}

/* 결제수단 */
.sec2_card {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2_cardinfo {
    display: flex;
    gap: 30px;
}

.sec2_cardinfo .sec2_le {
    width: 100px;
    background: url(../img/nori.png) no-repeat center/contain;
}

.sec2_cardinfo .sec2_ri h5 {
    font: var(--pre-28-r);
    color: var(--txt-gray);
}

.sec2_cardinfo .sec2_ri p {
    font: var(--pre-20-r);
    color: var(--txt-medium-gray);
}

.sec2_change a {
    width: 120px;
    height: 35px;
    background: var(--sub-color-1);
    border-radius: 5px;
    font: var(--pre-20-m);
    color: var(--txt-w-color);
    display: flex;
    justify-content: center;
    line-height: 35px;
}

/* 쿠폰선택 */
.coupon_box {
    text-align: center;
}

.coupon_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 15px;
}

.coupon_wrapper .coupon {
    width: 525px;
    height: 230px;
    background: url(../img/coupon.png);
    display: flex;

}

.coupon .coupon_left {
    width: 120px;
    height: 100%;
    text-align: center;
    font: var(--pre-35-sb);
    color: var(--txt-w-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.coupon .coupon_left span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -6px;
    color: var(--txt-w-color);
}

.coupon .coupon_right {
    width: 405px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coupon .coupon_right h3 {
    font: var(--pre-35-sb);
    padding-bottom: 20px;
}

.coupon .coupon_right strong {
    font: var(--pre-35-sb);
}

.coupon .coupon_right p {
    font: var(--pre-20-r);
    color: var(--txt-light-gray);
}

.coupon .coupon_right span {
    font: var(--pre-25-m);
    color: var(--txt-gray);
}

.sec3 .button {
    display: flex;
    justify-content: center;
    padding-top: var(--tit-pad);
    padding-bottom: var(--con-pad);
}

.sec3 button {
    width: 330px;
    height: 60px;
    border: 0;
    background: var(--sub-color-1);
    color: var(--txt-w-color);
    cursor: pointer;
    font: var(--pre-25-m);
    border-radius: 15px;
}