@charset "utf-8";

body {
    font-family: var(--main-font-family);
    color: var(--txt-dark-gray);
}

div.scroll {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 300px;
    padding-bottom: 300px;
}

/* 상단 */
.checked {
    margin-top: 60px;
}

.checked .inner {
    display: flex;
    gap: 52px;

}

.checked img {
    width: 680px;
    height: 647px;
}

.checked .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.checked .right .tit {
    display: flex;
    flex-direction: column;
    color: var(--txt-dark-gray);
}

.checked .right .tit span {
    font: var(--pre-20-m);
    color: var(--txt-medium-gray);
    line-height: 0.8;
}

.checked .right .tit h2 {
    font: var(--pre-50-b);
}

.checked .right .tit .under {
    display: flex;
    gap: 20px;
    align-items: center;
}

.checked .right .tit .under p {
    font: var(--pre-35-sb);
    line-height: 1;
}

.checked .right .tit .under span {
    font-size: 22px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: #aaa;
}

.checked .right .small_tit {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 45px;
}

.checked .right .small_tit .frame {
    width: 185px;
    height: 35px;
    border: 2px solid var(--sub-color-2);
    border-radius: 8px;
    background-color: #FFF8ED;
    color: var(--sub-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
}

.checked .right .small_tit>p {
    font: var(--pre-18-r);
    line-height: 25px;
}

.select {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 45px;
}

.custom_select {
    position: relative;
}

.custom_select .select_btn {
    width: 600px;
    height: 55px;
    font-size: 18px;
    font-weight: 500;
    color: var(--txt-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

/* 버튼을 클릭했을때  */
.custom_select.on .select_btn {
    border-color: var(--sub-color-1);
    border-radius: 5px 5px 0 0;
    color: var(--sub-color-1);
}

.custom_select .select_btn img {
    width: 25px;
    height: 25px;
    transition: .6s;
}

.custom_select.on .select_btn img {
    transform: rotate(180deg);
}

.custom_select .select_options {
    position: absolute;
    left: 0;
    top: 100%;
    width: 598px;
    background-color: var(--bg-w-color);
    max-height: calc(55px * 5);
    overflow-y: auto;
    z-index: 100;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--txt-light-gray);
    border-top: 0;
    display: none;
    transition: .6s;
}

.custom_select.on .select_options {
    display: block;
}


.custom_select .select_options li {
    height: 55px !important;
    line-height: normal;
    align-items: center;
    font: var(--pre-15-m);
    color: var(--txt-medium-m-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    border-bottom: 1px solid var(--txt-light-gray);
    width: 100%;
    /* ✅ 고정값 대신 100% */
    box-sizing: border-box;
    /* ✅ 패딩 포함한 너비 계산 */
    overflow: hidden;
    /* ✅ 넘침 방지 */
    text-overflow: ellipsis;
    /* ✅ 말줄임 처리 */
    white-space: nowrap;
    transition: .3s;
}

.custom_select .select_options li:hover {
    color: var(--sub-color-1);
}

.custom_select .select_options li:last-child {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

.custom_select .check .left {
    display: flex;
    gap: 10px;
}

.custom_select .check li img {
    width: 20px;
    height: 20px;
}

.custom_select .check li .check_on {
    display: none;
}

.custom_select .check li.on .check_on {
    display: inline;
}

.custom_select .check li.on .check_off {
    display: none;
}

/* 경우의 수  */
.custom_select.disabled {
    opacity: 0.5;
    pointer-events: none;
}


.checked .right .btn {
    width: 600px;
    height: 65px;
    background-color: var(--main-color);
    font-size: 23px;
    font-weight: 600;
    color: var(--txt-w-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}


/* txt */


.txt {
    height: 477px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.txt h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--sub-color-1);
    padding-bottom: 15px;
}

.txt p {
    font-size: 25px;
    line-height: 43px;
    color: var(--txt-gray);
}

.txt .all {
    display: flex;
    width: 1044px;
    height: 251px;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 120px;
}

.txt .all .con1 {
    width: 245px;
    height: 100%;
    background-image: url(../subscription_details.img/txtsection_1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt .all .con1 p,
.txt .all .con2 p {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    color: var(--txt-w-color);
}

.txt .all .con2 {
    width: 251px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.txt .all .con3 {
    position: relative;
    flex: 1;
}

.txt .all .con3 p {
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    color: var(--txt-gray);

}

.txt .all .con3 p span {
    color: var(--main-color);
}

.txt .all .con3 img {
    position: absolute;
    left: -40px;
    top: 60px;
    width: 148px;
    height: 84px;
}







.con_all {
    display: flex;
    flex-direction: column;
    gap: 200px;
}



.con .banner {
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
}
.con .banner.one{
    background-image: url(../subscription_details.img/banner1.jpg);
}.con .banner.two{
    background-image: url(../subscription_details.img/banner2.jpg);
}
.con .banner.three{
    background-image: url(../subscription_details.img/banner3.jpg);
}
.con .banner.four{
    background-image: url(../subscription_details.img/banner4.jpg);
}
.con .banner.five{
    background-image: url(../subscription_details.img/banner5.png);
}
.con .banner.six{
    background-image: url(../subscription_details.img/banner6.png);
}

.con .banner button {
    border: none;
    width: 250px;
    height: 55px;
    border-radius: 10px 10px 0 0;
    background-color: var(--sub-color-1);
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--txt-w-color);
    font-family: var(--main-font-family);
    cursor: pointer;
}

.con .hidden {
    display: none;
}

.con .hidden_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.con .hidden_wrap .containner {
    padding-top: 100px;
    display: flex;
    width: 1000px;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.containner>.top {
    width: 100%;
    height: 570px;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containner .top>img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 553px;
}

.containner .top h3 {
    font-family: var(--title-font-family);
    font-size: 40px;
    color: var(--sub-color-1);
    padding-bottom: 10px;
}

.containner .top p {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.containner .top p span {
    font-size: 26px;
    font-weight: 600;
}

.containner .top ul {
    display: flex;
    gap: 35px;
    padding-top: 60px;
}

.containner .top ul li {
    width: 240px;
    height: 385px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--txt-dark-w-color);
    border-radius: 10px;
}

.containner .top ul li .img {
    position: relative;
    width: 100%;
    height: 235px;
}

.containner .top ul li .img .check_icon {
    position: absolute;
    left: 20px;
    top: -20px;
    width: 35px;
    height: 35px;
}

.containner .top ul li .img .food {
    width: 100%;
    height: 235px;
    border-radius: 5px 5px 0 0;
}

.containner .top ul li .txt {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 8px;
    gap: 20px;
}

.containner .top ul li .txt .top {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 8px;
}

.containner .top ul li .txt .top span {
    font-size: 13px;
    font-weight: 400;
    color: var(--txt-medium-m-gray);
    padding-bottom: 3px;
}

.containner .top ul li .txt .top p {
    font-size: 18px;
    font-weight: 600;
    color: var(--txt-dark-gray);
    line-height: 1.2;
}



.containner .top ul li .txt .bottom {
    display: flex;
    flex-direction: column;
}

.containner .top ul li .txt .bottom span {
    font-size: 13px;
    font-weight: 500;
    text-decoration-line: line-through;
    color: #aaa;
}

.containner .top ul li .txt .bottom .b_t {
    display: flex;
    align-items: center;
}

.containner .top ul li .txt .bottom .b_t strong {
    font-size: 20px;
    font-weight: 600;
    color: var(--sub-color-1);
    display: block;
    line-height: 1;
}

.containner .top ul li .txt .bottom .b_t p {
    font-size: 20px;
    font-weight: 600;
    color: var(--txt-dark-gray);
    line-height: 1.5;

}

.containner .plus {
    width: 56px;
    height: 56px;
}
.containner > .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.containner > .bottom .txt2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containner > .bottom h3 {
    font-family: var(--title-font-family);
    font-size: 40px;
    color: var(--sub-color-1);
    padding-bottom: 10px;
}

.containner>.bottom p {
    font-size: 24px;
    font-weight: 400;
}
.containner>.bottom p span{
    font-size: 26px;
    font-weight: 600;
}


.containner>.bottom ul {
    display: flex;
    gap: 35px;
    padding-top: 48px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.containner>.bottom ul li {
    width: 240px;
    height: 385px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--txt-dark-w-color);
    border-radius: 10px;
}

.containner>.bottom ul li .img {
    position: relative;
    width: 100%;
    height: 235px;
}

.containner>.bottom ul li .img .check_icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
}

.containner>.bottom ul li .img .food {
    width: 100%;
    height: 235px;
    border-radius: 5px 5px 0 0;
}

.containner>.bottom ul li .txt {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 8px;
    gap: 20px;
}

.containner>.bottom ul li .txt .top {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 8px;
}

.containner>.bottom ul li .txt .top span {
    font-size: 13px;
    font-weight: 400;
    color: var(--txt-medium-m-gray);
    padding-bottom: 3px;
}

.containner>.bottom ul li .txt .top p {
    font-size: 18px;
    font-weight: 600;
    color: var(--txt-dark-gray);
    line-height: 1.2;
}



.containner>.bottom ul li .txt .bottom {
    display: flex;
    flex-direction: column;
}

.containner>.bottom ul li .txt .bottom span {
    font-size: 13px;
    font-weight: 500;
    text-decoration-line: line-through;
    color: #aaa;
}

.containner>.bottom ul li .txt .bottom .b_t {
    display: flex;
    align-items: center;
}

.containner>.bottom ul li .txt .bottom .b_t strong {
    font-size: 20px;
    font-weight: 600;
    color: var(--sub-color-1);
    display: block;
    line-height: 1;
}

.containner>.bottom ul li .txt .bottom .b_t p {
    font-size: 20px;
    font-weight: 600;
    color: var(--txt-dark-gray);
    line-height: 1.5;

}