@charset "utf-8";

h4 {
    font: var(--pre-35-sb);
    padding-bottom: 15px;
}

p {
    font: var(--pre-28-r);
    color: var(--txt-gray);
}

.main_visual {
    width: 100%;
    padding: 120px 0;
    text-align: center;
}

.con1 {
    width: 100%;
    display: flex;
    gap: 120px;
}

/* 왼쪽 고정 */
.tab_wrapper {
    width: 220px;
    height: 600px;
    position: sticky;
    top: 150px;
}

.tab_wrapper .tab_sec {
    border-bottom: 1px solid var(--txt-light-gray);
    padding: 20px 0 15px 0;
}

.left_tab {
    position: relative;
    display: block;
}

.left_tab .sticky_box .tab_sec em {
    font: var(--pre-20-m);
    color: var(--txt-dark-gray);
}

.left_tab .sticky_box .tab_sec ul {
    padding-top: 20px;
}

.left_tab .sticky_box .tab_sec ul li {
    font: var(--pre-18-r);
    color: var(--txt-medium-gray);
    padding-bottom: 15px;
}

.left_tab .sticky_box .tab_sec.list {
    border: none;
}

/* 오른쪽 */
.info {
    display: flex;
    flex-direction: column;
    gap: 150px;
    flex: 1;
}

/* 상단 탭바 메뉴 */
.tab_bar {
    width: 100%;
    height: 70px;
}

.tab_bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    font: var(--pre-25-m);
    color: var(--txt-w-color);
}

.tab_bar ul li {
    width: 50%;
    background: var(--sub-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_bar ul li:nth-child(2) {
    background: var(--main-color);
}


/* 구독유형 */
.type .type_all {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.type .type_all .type_box {
    width: 350px;
    height: 230px;
    border: 1px solid var(--txt-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.type .type_all .type_box h3 {
    font: var(--pre-30-sb);
    color: var(--sub-color-1);
}

.type .type_all .type_box p {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font: var(--pre-18-r);
    color: var(--txt-medium-m-gray);
    border-bottom: 1px solid var(--txt-medium-m-gray);
}

.type .type_all .type_box .price {
    font: var(--pre-20-r);
    color: var(--txt-medium-m-gray);
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

.type .type_all .type_box .price span {
    font: var(--pre-30-sb);
    color: var(--txt-dark-gray);
}


/* 구독테마 */
.theme .box_all {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.theme .box_all .theme_box {
    width: 350px;
    height: 350px;
    border: 1px solid var(--txt-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 25px;
    box-sizing: border-box;
}

.theme .box_all .theme_box .tit {
    width: 100%;
    font: var(--pre-30-sb);
    color: var(--sub-color-1);
    border-bottom: 1px solid var(--txt-gray);
    text-align: center;
    padding-bottom: 10px;
}

.theme .box_all .theme_box .img {
    width: 100%;
    height: 240px;
    background: url(../img/card.png) no-repeat center/cover;
    border-radius: 20px;
}



/* 구독방식 */
.method_button {
    display: flex;
    gap: 70px;
    font: var(--pre-20-m);
}

.method_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.method_wrap input[type="radio"] {
    display: none;
}

.custom_radio {
    width: 18px;
    height: 18px;
    border: 2px solid var(--txt-light-gray);
    border-radius: 50%;
    position: relative;
}

.method_wrap input[type="radio"]:checked+.custom_radio::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--sub-color-1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 배송주기 */
.calendar {
    width: 100%;
}

.calendar_month {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    font: var(--pre-25-m);
    color: var(--txt-medium-m-gray);
}

.calendar_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font: var(--pre-25-m);
    color: var(--txt-medium-m-gray);
}

.calendar_table th,
.calendar_table td {
    padding: 15px;
    width: 14.28%;
    /* 100% / 7요일 */
    height: 40px;
}

/* .calendar_table td.selected {
    background-color: var(--sub-color-1);
    color: var(--txt-w-color);
    border-radius: 50%;
} */

.calendar_table .satur {
    font: var(--pre-25-sb);
    color: var(--txt-dark-gray);
}

/* 배송지 */
.sec5_box {
    width: 100%;
    border: 1px solid var(--txt-dark-gray);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

.sec5_left .sec5_t {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sec5_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec5_left .sec5_t em {
    font: var(--pre-30-sb);
    color: var(--txt-dark-gray);
}

.sec5_left .sec5_t span {
    font: var(--pre-25-m);
    color: var(--txt-dark-gray);
}

.sec5_left .sec5_b p {
    font: var(--pre-20-r);
    color: var(--txt-medium-m-gray);
}

.sec5_right {
    width: 120px;
    height: 35px;
    background: var(--sub-color-1);
    border-radius: 5px;
}

.sec5_right a {
    font: var(--pre-20-m);
    color: var(--txt-w-color);
    display: flex;
    justify-content: center;
    line-height: 35px;
}


/* 결제수단 */
.sec6_card {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec6_cardinfo {
    display: flex;
    gap: 30px;
}

.sec6_cardinfo .sec6_le {
    width: 100px;
    background: url(../img/nori.png) no-repeat center/contain;
}

.sec6_cardinfo .sec6_ri h5 {
    font: var(--pre-28-r);
    color: var(--txt-gray);
}

.sec6_cardinfo .sec6_ri p {
    font: var(--pre-20-r);
    color: var(--txt-medium-gray);
}

.sec6_change a {
    width: 120px;
    height: 35px;
    background: var(--sub-color-1);
    border-radius: 5px;
    font: var(--pre-20-m);
    color: var(--txt-w-color);
    display: flex;
    justify-content: center;
    line-height: 35px;
}


/* SNS 알람 설정 */
.sns_button {
    display: flex;
    gap: 70px;
    font: var(--pre-20-m);
}

.radio_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.radio_wrap input[type="radio"] {
    display: none;
}

.custom_radio {
    width: 18px;
    height: 18px;
    border: 2px solid var(--txt-light-gray);
    border-radius: 50%;
    position: relative;
}

.radio_wrap input[type="radio"]:checked+.custom_radio::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--sub-color-1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 하단 버튼 */
.button {
    display: flex;
    justify-content: center;
    padding-bottom: var(--con-pad);
}

button {
    width: 330px;
    height: 60px;
    border: 0;
    background: var(--sub-color-1);
    color: var(--txt-w-color);
    cursor: pointer;
    font: var(--pre-25-m);
    border-radius: 15px;
}